@charset "utf-8";
/** none style **/
.none {
	display:none;
}

/** clear style **/
.clear {
	clear: both;
}
.clearfix {
	_display: inline-block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

/** float style **/
/* left-floats */
.fleft0 {
	float:left;
	display:inline;
}
.fleft1 {
	float:left;
	display:inline;
	margin-right: 10px;
}
.fleft2 {
	float:left;
	display:inline;
	margin-right: 20px;
}
/* right-floats */
.fright0 {
	float:right;
	display:inline;
}
.fright1 {
	float:right;
	display:inline;
	margin-left: 10px;
}
.fright2 {
	float:right;
	display:inline;
	margin-left: 20px;
}

/** All-margins style **/
.m5 {
	margin:5px;
}
.m10 {
	margin:10px;
}
.m15 {
	margin:15px;
}
.m20 {
	margin:20px;
}
.m30 {
	margin:30px;
}
.m40 {
	margin:40px;
}
.m50 {
	margin:50px;
}
.m75 {
	margin:75px;
}
.m100 {
	margin:100px;
}

/** Top-margins style **/
.t-m5 {
	margin-top:5px !important;
}
.t-m10 {
	margin-top:10px !important;
}
.t-m15 {
	margin-top:15px !important;
}
.t-m20 {
	margin-top:20px !important;
}
.t-m30 {
	margin-top:30px !important;
}
.t-m40 {
	margin-top:40px !important;
}
.t-m50 {
	margin-top:50px !important;
}
.t-m75 {
	margin-top:75px !important;
}
.t-m100 {
	margin-top:100px !important;
}

/** Bottom-margins style **/
.b-m5 {
	margin-bottom:5px;
}
.b-m10 {
	margin-bottom:10px;
}
.b-m15 {
	margin-bottom:15px;
}
.b-m20 {
	margin-bottom:20px;
}
.b-m30 {
	margin-bottom:30px;
}
.b-m40 {
	margin-bottom:40px;
}
.b-m50 {
	margin-bottom:50px;
}
.b-m75 {
	margin-bottom:75px;
}
.b-m100 {
	margin-bottom:100px;
}

/** Left-margins style **/
.l-m5 {
	margin-left:5px;
}
.l-m10 {
	margin-left:10px;
}
.l-m15 {
	margin-left:15px;
}
.l-m20 {
	margin-left:20px;
}
.l-m30 {
	margin-left:30px;
}
.l-m40 {
	margin-left:40px;
}
.l-m50 {
	margin-left:50px;
}
.l-m70 {
	margin-left:70px;
}
.l-m75 {
	margin-left:75px;
}
.l-m100 {
	margin-left:100px;
}

/** Right-margins style **/
.r-m5 {
	margin-right:5px;
}
.r-m10 {
	margin-right:10px;
}
.r-m15 {
	margin-right:15px;
}
.r-m20 {
	margin-right:20px;
}
.r-m30 {
	margin-right:30px;
}
.r-m40 {
	margin-right:40px;
}
.r-m50 {
	margin-right:50px;
}
.r-m75 {
	margin-right:75px;
}
.r-m100 {
	margin-right:100px;
}

/** Height-margins style **/
.h-m5 {
	margin-top:5px;
	margin-bottom:5px;
}
.h-m10 {
	margin-top:10px;
	margin-bottom:10px;
}
.h-m15 {
	margin-top:15px;
	margin-bottom:15px;
}
.h-m20 {
	margin-top:20px;
	margin-bottom:20px;
}
.h-m30 {
	margin-top:30px;
	margin-bottom:30px;
}
.h-m40 {
	margin-top:40px;
	margin-bottom:40px;
}
.h-m50 {
	margin-top:50px;
	margin-bottom:50px;
}
.h-m60 {
	margin-top:60px;
	margin-bottom:60px;
}
.h-m70 {
	margin-top:70px;
	margin-bottom:70px;
}
.h-m80 {
	margin-top:80px;
	margin-bottom:80px;
}
/** Width-margins style **/
.w-m5 {
	margin-left:5px;
	margin-right:5px;
}
.w-m10 {
	margin-left:10px;
	margin-right:10px;
}
.w-m15 {
	margin-left:15px;
	margin-right:15px;
}
.w-m20 {
	margin-left:20px;
	margin-right:20px;
}
.w-m30 {
	margin-left:30px;
	margin-right:30px;
}
.w-m40 {
	margin-left:40px;
	margin-right:40px;
}
.w-m50 {
	margin-left:50px;
	margin-right:50px;
}

/** All-paddings style **/
.p5 {
	padding:5px;
}
.p10 {
	padding:10px;
}
.p15 {
	padding:15px;
}
.p20 {
	padding:20px;
}
.p30 {
	padding:30px;
}
.p40 {
	padding:40px;
}
.p50 {
	padding:50px;
}
.p75 {
	padding:75px;
}
.p100 {
	padding:100px;
}

/** Top-paddings style **/
.t-p5 {
	padding-top:5px !important;
}
.t-p10 {
	padding-top:10px !important;
}
.t-p15 {
	padding-top:15px !important;
}
.t-p20 {
	padding-top:20px !important;
}
.t-p30 {
	padding-top:30px !important;
}
.t-p40 {
	padding-top:40px !important;
}
.t-p50 {
	padding-top:50px !important;
}
.t-p75 {
	padding-top:75px !important;
}
.t-p100 {
	padding-top:100px !important;
}

/** Bottom-paddings style **/
.b-p5 {
	padding-bottom:5px !important;
}
.b-p10 {
	padding-bottom:10px !important;
}
.b-p15 {
	padding-bottom:15px !important;
}
.b-p20 {
	padding-bottom:20px !important;
}
.b-p30 {
	padding-bottom:30px !important;
}
.b-p40 {
	padding-bottom:40px !important;
}
.b-p50 {
	padding-bottom:50px !important;
}
.b-p75 {
	padding-bottom:75px !important;
}
.b-p100 {
	padding-bottom:100px !important;
}

/** Left-paddings style **/
.l-p5 {
	padding-left:5px !important;
}
.l-p10 {
	padding-left:10px !important;
}
.l-p15 {
	padding-left:15px !important;
}
.l-p20 {
	padding-left:20px !important;
}
.l-p30 {
	padding-left:30px !important;
}
.l-p40 {
	padding-left:40px !important;
}
.l-p50 {
	padding-left:50px !important;
}
.l-p75 {
	padding-left:75px !important;
}
.l-p100 {
	padding-left:100px !important;
}

/** Right-paddings style **/
.r-p5 {
	padding-right:5px !important;
}
.r-p10 {
	padding-right:10px !important;
}
.r-p15 {
	padding-right:15px !important;
}
.r-p20 {
	padding-right:20px !important;
}
.r-p30 {
	padding-right:30px !important;
}
.r-p40 {
	padding-right:40px !important;
}
.r-p50 {
	padding-right:50px !important;
}
.r-p75 {
	padding-right:75px !important;
}
.r-p100 {
	padding-right:100px !important;
}

/** Height-paddings style **/
.h-p5 {
	padding-top:5px;
	padding-bottom:5px;
}
.h-p10 {
	padding-top:10px;
	padding-bottom:10px;
}
.h-p15 {
	padding-top:15px;
	padding-bottom:15px;
}
.h-p20 {
	padding-top:20px;
	padding-bottom:20px;
}
.h-p30 {
	padding-top:30px;
	padding-bottom:30px;
}
.h-p40 {
	padding-top:40px;
	padding-bottom:40px;
}
.h-p50 {
	padding-top:50px;
	padding-bottom:50px;
}
.h-p75 {
	padding-top:75px;
	padding-bottom:75px;
}
.h-p100 {
	padding-top:100px;
	padding-bottom:100px;
}

/** Width-paddings style **/
.w-p5 {
	padding-left:5px;
	padding-right:5px;
}
.w-p10 {
	padding-left:10px;
	padding-right:10px;
}
.w-p15 {
	padding-left:15px;
	padding-right:15px;
}
.w-p20 {
	padding-left:20px;
	padding-right:20px;
}
.w-p30 {
	padding-left:30px;
	padding-right:30px;
}
.w-p40 {
	padding-left:40px;
	padding-right:40px;
}
.w-p50 {
	padding-left:50px;
	padding-right:50px;
}
.w-p75 {
	padding-left:75px;
	padding-right:75px;
}
.w-p100 {
	padding-left:100px;
	padding-right:100px;
}

/** Text-aligns style **/
.tcenter {
	text-align:center !important;
}
.tright {
	text-align:right !important;
}
.tleft {
	text-align:left !important;
}


/** vertical-aligns style **/
.vtop {
	vertical-align:top !important;
}
.vmiddle {
	vertical-align:middle !important;
}
.vbottom {
	vertical-align:bottom !important;
}

/** font-colors style **/
.orange {
	color: #FF6600;
}
.orange2 {
	color: #FF9933;
}
.red {
	color: #FF0606;
}
.red2 {
	color: #FF6666;
}
.wine {
	color:#9E005D;
}
.blue {
	color: #0033FF;
}
.green {
	color: #75BE2E;
}
.skyblue {
	color: #007BC6;
}
.magenta {
	color: #663366;
}
.white {
	color:#FFF;
}
.darkpink {
	color:#9E005D;
}

/** font-sizes style **/
.f-s8{
	font-size: 8px;
}
.f-s10{
	font-size: 10px;
}
.f-s11{
	font-size: 11px;
}.f-s12 {
	font-size: 12px;
}
.f-s13 {
	font-size: 13px;
}
.f-s14{
	font-size: 14px;
}
.f-s16 {
	font-size: 16px;
}
.f-s18 {
	font-size: 18px;
}
.f-s20 {
	font-size: 20px;
}
.f-s22 {
	font-size: 22px;
}
.f-s24 {
	font-size: 24px;
}
.l0 {
	line-height: 0;
}
.bnone {
	border: none;
}


/** width style **/
.w-5per{
	width: 5% !important;
}
.w-10per{
	width: 10% !important;
}
.w-15per{
	width: 15% !important;
}
.w-20per{
	width: 20% !important;
}
.w-25per{
	width: 25% !important;
}
.w-30per{
	width: 30% !important;
}
.w-35per{
	width: 35% !important;
}
.w-40per{
	width: 40% !important;
}
.w-45per{
	width: 45% !important;
}
.w-50per{
	width: 50% !important;
}
.w-55per{
	width: 55% !important;
}
.w-60per{
	width: 60% !important;
}
.w-65per{
	width: 65% !important;
}
.w-70per{
	width: 70% !important;
}
.w-75per{
	width: 75% !important;
}
.w-80per{
	width: 80% !important;
}
.w-85per{
	width: 85% !important;
}
.w-90per{
	width: 90% !important;
}
.w-95per{
	width: 95% !important;
}
.w-100per{
	width: 100% !important;
}
