@charset "UTF-8";
.spm-navigation-overlay {
  position: fixed;
  z-index: 999999;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  background-color: black;
  -webkit-filter: alpha(opacity=50);
  filter: alpha(opacity=50);
}

.spm-navigation-float {
  z-index: 9999999 !important;
}

.spm-navigation-relative {
  position: relative;
}

.spm-navigation-navlayer {
  position: absolute;
  z-index: 9999998;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.spg-navigation.spm-balloon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
  max-width: 400px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
.spg-navigation.spm-balloon *, .spg-navigation.spm-balloon *:before, .spg-navigation.spm-balloon *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(8%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
  }
  40% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(8%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.spg-navigation.spm-balloon .spm-balloon-arrow,
.spg-navigation.spm-balloon .spm-balloon-arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.spg-navigation.spm-balloon .spm-balloon-arrow {
  border-width: 11px;
}
.spg-navigation.spm-balloon .spm-balloon-arrow:after {
  border-width: 10px;
  content: "";
}
.spg-navigation.spm-balloon.top {
  margin-top: -10px;
}
.spg-navigation.spm-balloon.top .spm-balloon-arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.spg-navigation.spm-balloon.top .spm-balloon-arrow:after {
  bottom: 2px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.spg-navigation.spm-balloon.right {
  margin-left: 10px;
}
.spg-navigation.spm-balloon.right .spm-balloon-arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.spg-navigation.spm-balloon.right .spm-balloon-arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}
.spg-navigation.spm-balloon.bottom {
  margin-top: 10px;
}
.spg-navigation.spm-balloon.bottom .spm-balloon-arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.spg-navigation.spm-balloon.bottom .spm-balloon-arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}
.spg-navigation.spm-balloon.left {
  margin-left: -10px;
}
.spg-navigation.spm-balloon.left .spm-balloon-arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.spg-navigation.spm-balloon.left .spm-balloon-arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
.spg-navigation .spm-balloon-title {
  padding: 8px 40px 8px 14px;
  margin: 0;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.spg-navigation .spm-balloon-title:empty {
  display: none;
}
.spg-navigation .spm-balloon-content {
  color: #666;
  padding: 9px 14px;
  word-wrap: break-word;
  word-break: break-all;
}
.spg-navigation .spm-balloon-nav {
  margin: 0 10px 5px;
  text-align: right;
}
.spg-navigation .spm-balloon-close {
  position: absolute;
  top: 5px;
  right: 8px;
  float: right;
  width: 26px;
  height: 26px;
  padding: 0;
  border: 0;
  opacity: 0.8;
  background: transparent;
  -webkit-appearance: none;
  box-shadow: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAACZ0lEQVRIS81W0XHbMAwFbP0nG9SZoMkEVUz5P5kgyQbJBHEnaDJBnAnqfhtwnQ3cCeJsUP9LRg86UkfRlMz0rrnyh3cUhQfgPQBE+OCFH4wHvYB5nh8Ph8MrRLywjuV2X+kuIvOqqp5Xq9XvVMejgBboGwBcIOJxnzERUTAFvksB3gMsiiIXke+HgEInFBgRL4mojr5rtQDH4/H1YDB4ihh7Q8QNADhj6tQIET+Fd3e73c1yuZwdBNTIAOCnf1FEfgHAlJnnMQPGGOV2ioifg+/nXZHWEVrOXv00isgjM9+miMEYM0PEK3dX01tV1UmM0xow8kMLbDKZnC4Wi7UPHp5FbDwz83XoMIbRaRqZ+dRddLyKyIyZb/Q8dmYdX7v0dkWJRVFo2rQE6iUil46zUEQKKiIvvrBijnhR3RHRgx+lAqryvliwN2YeWV5HWZa9pnCIiGcu5caYjafeFyJyzaI21QIEgNaFkJcYeFgGfgChPQconqGvRDT1DfeBxmquKAr9/97ZIKJWrWuEvYBdzcBS0AjJAaQANhyGKegD80TWAk1JqS+aDTOf/GvRJJeFcqbO+GXh8xjJyH5ZaOFnWaaN+cimaU1EZ2HhxwyHojHGNIUPANuyLEdhe0tqbXme64/qVLPCs+TWZvkKo9SOs6fAriYQKZ1odHUdenLeG08AoA17SkQ/YmA6nhBRa67pvfZe/3gK+QqNi4i2q9gArtugv5IHcBCpDlwnoq5MhudbfQO964nhLNiR9WBfa4eAt/b1dvtXj6hAiSomHaLumVhPFe1Idp+XZTlLAXJ2/6+HcCp577n3B5f+tSzf0q14AAAAAElFTkSuQmCC");
  cursor: pointer;
  outline: 0;
}
.spg-navigation .spm-balloon-close:hover {
  opacity: 0.6;
}
.spg-navigation .spm-balloon-close:active {
  opacity: 0.8;
}
.spg-navigation .spm-balloon-button {
  display: inline-block;
  margin: 0;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.spg-navigation .spm-balloon-button:hover, .spg-navigation .spm-balloon-button:focus {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
  text-decoration: none;
  background-position: 0 -15px;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.spg-navigation .spm-balloon-button + .spm-balloon-button {
  margin-left: 5px;
}
.spg-navigation .fade {
  opacity: 0;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.spg-navigation .fade.in {
  opacity: 1;
}

.spg-navigation.spm-balloon.spm-balloon-type1 {
  max-width: 600px;
  min-width: 320px;
  background-color: inherit;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-balloon.spm-balloon-type1 > div {
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-balloon.spm-balloon-type1.top .spm-balloon-arrow {
  bottom: -9px;
}
.spg-navigation.spm-balloon.spm-balloon-type1.bottom {
  margin-top: 30px;
}
.spg-navigation.spm-balloon.spm-balloon-type1.bottom .spm-balloon-arrow {
  top: -9px;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-navigation-image {
  padding: 10px 10px 0;
  vertical-align: top;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-navigation-image > img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-title {
  display: none;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-content {
  padding-bottom: 0;
  font-size: 14px;
  word-break: break-all;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-nav {
  margin: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-nav > div .spm-balloon-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-close:after {
  content: '✖';
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-title {
    font-size: 12px;
  }
  .spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-content {
    font-size: 12px;
  }
  .spg-navigation.spm-balloon.spm-balloon-type1 .spm-balloon-nav .spm-balloon-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-non-content .spm-balloon-content {
  display: none;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image .spm-balloon-button {
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: none;
  border: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image .spm-balloon-button > img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image .spm-balloon-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image .spm-balloon-button:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background {
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background.top .spm-balloon-arrow {
  bottom: -11px;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background.bottom .spm-balloon-arrow {
  top: -11px;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background > div {
  padding-top: 0 !important;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background > div .spm-navigation-image {
  padding-top: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background > div .spm-balloon-nav > div {
  border-spacing: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type1.spm-btn-image-background > div .spm-balloon-nav .spm-balloon-button {
  height: 150px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type2 {
  max-width: 600px;
  min-width: 320px;
  background-color: inherit;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-balloon.spm-balloon-type2 > div {
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-balloon.spm-balloon-type2.top .spm-balloon-arrow {
  bottom: -9px;
}
.spg-navigation.spm-balloon.spm-balloon-type2.bottom {
  margin-top: 30px;
}
.spg-navigation.spm-balloon.spm-balloon-type2.bottom .spm-balloon-arrow {
  top: -9px;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-navigation-image {
  display: table-cell;
  width: 200px;
  padding: 10px 0 0 10px;
  vertical-align: top;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-navigation-image > img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-inner {
  display: table-cell;
  width: 400px;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-content {
  padding-right: 28px;
  padding-bottom: 0;
  font-size: 14px;
  word-break: break-all;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-nav {
  margin: 0;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-nav > div .spm-balloon-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-close:after {
  content: '✖';
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-inner {
    display: table-cell;
    width: 55%;
  }
  .spg-navigation.spm-balloon.spm-balloon-type2 .spm-navigation-image {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-title {
    font-size: 12px;
  }
  .spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-content {
    font-size: 12px;
  }
  .spg-navigation.spm-balloon.spm-balloon-type2 .spm-balloon-nav .spm-balloon-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-balloon.spm-balloon-type2.spm-non-title .spm-balloon-title {
  display: none;
}
.spg-navigation.spm-balloon.spm-balloon-type2.spm-non-title .spm-balloon-content {
  padding-right: 40px;
}
.spg-navigation.spm-balloon.spm-balloon-type3 {
  max-width: 600px;
  min-width: 320px;
  background-color: inherit;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-balloon.spm-balloon-type3 > div {
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-balloon.spm-balloon-type3.top .spm-balloon-arrow {
  bottom: -9px;
}
.spg-navigation.spm-balloon.spm-balloon-type3.bottom {
  margin-top: 30px;
}
.spg-navigation.spm-balloon.spm-balloon-type3.bottom .spm-balloon-arrow {
  top: -9px;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-wrap {
  display: table;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-inner {
  display: table-cell;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-content {
  padding-bottom: 0;
  font-size: 14px;
  word-break: break-all;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-nav {
  display: table-cell;
  width: 250px;
  vertical-align: top;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-nav .spm-balloon-button {
  padding-left: 0;
  background-image: inherit;
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-nav .spm-balloon-button img {
  width: 100%;
  max-width: 100%;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-close:after {
  content: '✖';
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-nav {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-title {
    font-size: 12px;
  }
  .spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-content {
    font-size: 12px;
  }
  .spg-navigation.spm-balloon.spm-balloon-type3 .spm-balloon-nav .spm-balloon-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-balloon.spm-balloon-type3.spm-non-title .spm-balloon-title {
  display: none;
}
.spg-navigation.spm-balloon.spm-balloon-type3.spm-non-title .spm-balloon-wrap {
  padding-top: 30px;
  padding-bottom: 0;
}
.spg-navigation.spm-balloon.spm-btn-image .spm-balloon-button, .spg-navigation.spm-balloon.spm-btn-image-background .spm-balloon-button {
  background-image: none !important;
  background: transparent !important;
  background-color: inherit !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.spg-navigation.spm-balloon .spm-navigation-image:empty {
  display: none;
}

.spg-navigation {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}
.spg-navigation div, .spg-navigation span, .spg-navigation applet, .spg-navigation object, .spg-navigation iframe,
.spg-navigation h1, .spg-navigation h2, .spg-navigation h3, .spg-navigation h4, .spg-navigation h5, .spg-navigation h6, .spg-navigation p, .spg-navigation blockquote, .spg-navigation pre,
.spg-navigation a, .spg-navigation abbr, .spg-navigation acronym, .spg-navigation address, .spg-navigation big, .spg-navigation cite, .spg-navigation code,
.spg-navigation del, .spg-navigation dfn, .spg-navigation em, .spg-navigation img, .spg-navigation ins, .spg-navigation kbd, .spg-navigation q, .spg-navigation s, .spg-navigation samp,
.spg-navigation small, .spg-navigation strike, .spg-navigation strong, .spg-navigation sub, .spg-navigation sup, .spg-navigation tt, .spg-navigation var,
.spg-navigation b, .spg-navigation u, .spg-navigation i, .spg-navigation center,
.spg-navigation dl, .spg-navigation dt, .spg-navigation dd, .spg-navigation ol, .spg-navigation ul, .spg-navigation li,
.spg-navigation fieldset, .spg-navigation form, .spg-navigation label, .spg-navigation legend,
.spg-navigation table, .spg-navigation caption, .spg-navigation tbody, .spg-navigation tfoot, .spg-navigation thead, .spg-navigation tr, .spg-navigation th, .spg-navigation td,
.spg-navigation article, .spg-navigation aside, .spg-navigation canvas, .spg-navigation details, .spg-navigation embed,
.spg-navigation figure, .spg-navigation figcaption, .spg-navigation footer, .spg-navigation header, .spg-navigation hgroup,
.spg-navigation menu, .spg-navigation nav, .spg-navigation output, .spg-navigation ruby, .spg-navigation section, .spg-navigation summary,
.spg-navigation time, .spg-navigation mark, .spg-navigation audio, .spg-navigation video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.spg-navigation table {
  border-collapse: collapse;
  border-spacing: 0;
}
.spg-navigation caption, .spg-navigation th, .spg-navigation td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.spg-navigation q, .spg-navigation blockquote {
  quotes: none;
}
.spg-navigation q:before, .spg-navigation q:after, .spg-navigation blockquote:before, .spg-navigation blockquote:after {
  content: "";
  content: none;
}
.spg-navigation a img {
  border: none;
}
.spg-navigation article, .spg-navigation aside, .spg-navigation details, .spg-navigation figcaption, .spg-navigation figure, .spg-navigation footer, .spg-navigation header, .spg-navigation hgroup, .spg-navigation main, .spg-navigation menu, .spg-navigation nav, .spg-navigation section, .spg-navigation summary {
  display: block;
}
.spg-navigation.spm-toast {
  position: fixed;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: 9999999;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  pointer-events: none;
  animation-name: pullUp;
  -webkit-animation-name: pullUp;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}
.spg-navigation.spm-toast .spm-toast-main {
  pointer-events: auto;
  position: relative;
}
.spg-navigation.spm-toast *, .spg-navigation.spm-toast *:before, .spg-navigation.spm-toast *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.spg-navigation.spm-toast.top {
  top: 0;
}
.spg-navigation.spm-toast.bottom {
  bottom: 0;
}
.spg-navigation.spm-toast .spm-toast-title {
  padding: 8px 40px 8px 14px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.spg-navigation.spm-toast .spm-toast-title:empty {
  display: none;
}
.spg-navigation.spm-toast .spm-toast-content {
  color: #666;
  padding: 9px 14px;
  word-wrap: break-word;
  word-break: break-all;
}
.spg-navigation.spm-toast .spm-toast-nav {
  margin: 0 10px 5px;
  text-align: right;
}
.spg-navigation.spm-toast .spm-toast-close {
  position: relative;
  top: 2px;
  right: 10px;
  width: 26px;
  height: 26px;
  float: right;
  opacity: 0.9;
  padding: 0;
  background: transparent;
  border: 4px;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAACZ0lEQVRIS81W0XHbMAwFbP0nG9SZoMkEVUz5P5kgyQbJBHEnaDJBnAnqfhtwnQ3cCeJsUP9LRg86UkfRlMz0rrnyh3cUhQfgPQBE+OCFH4wHvYB5nh8Ph8MrRLywjuV2X+kuIvOqqp5Xq9XvVMejgBboGwBcIOJxnzERUTAFvksB3gMsiiIXke+HgEInFBgRL4mojr5rtQDH4/H1YDB4ihh7Q8QNADhj6tQIET+Fd3e73c1yuZwdBNTIAOCnf1FEfgHAlJnnMQPGGOV2ioifg+/nXZHWEVrOXv00isgjM9+miMEYM0PEK3dX01tV1UmM0xow8kMLbDKZnC4Wi7UPHp5FbDwz83XoMIbRaRqZ+dRddLyKyIyZb/Q8dmYdX7v0dkWJRVFo2rQE6iUil46zUEQKKiIvvrBijnhR3RHRgx+lAqryvliwN2YeWV5HWZa9pnCIiGcu5caYjafeFyJyzaI21QIEgNaFkJcYeFgGfgChPQconqGvRDT1DfeBxmquKAr9/97ZIKJWrWuEvYBdzcBS0AjJAaQANhyGKegD80TWAk1JqS+aDTOf/GvRJJeFcqbO+GXh8xjJyH5ZaOFnWaaN+cimaU1EZ2HhxwyHojHGNIUPANuyLEdhe0tqbXme64/qVLPCs+TWZvkKo9SOs6fAriYQKZ1odHUdenLeG08AoA17SkQ/YmA6nhBRa67pvfZe/3gK+QqNi4i2q9gArtugv5IHcBCpDlwnoq5MhudbfQO964nhLNiR9WBfa4eAt/b1dvtXj6hAiSomHaLumVhPFe1Idp+XZTlLAXJ2/6+HcCp577n3B5f+tSzf0q14AAAAAElFTkSuQmCC");
}
.spg-navigation.spm-toast .spm-toast-close:hover {
  opacity: 0.6;
}
.spg-navigation.spm-toast .spm-toast-close:active {
  opacity: 0.8;
}
.spg-navigation.spm-toast .spm-toast-button {
  display: inline-block;
  padding: 4px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.spg-navigation.spm-toast .spm-toast-button:hover, .spg-navigation.spm-toast .spm-toast-button:focus {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
  text-decoration: none;
  background-position: 0 -15px;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.spg-navigation.spm-toast .spm-toast-button + .spm-toast-button {
  margin-left: 5px;
}
.spg-navigation.spm-toast .fade {
  opacity: 0;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.spg-navigation.spm-toast .fade.in {
  opacity: 1;
}
.spg-navigation.spm-toast.top {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.spg-navigation.spm-toast.spm-toast-type1 {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type1 > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-content {
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  padding: 0 10px;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-inner {
  text-align: center;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-nav {
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-nav > div .spm-toast-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-close {
  position: absolute;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type1 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type1 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type1 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type1 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type1.spm-non-title > div {
  margin: 20px auto 0;
}
.spg-navigation.spm-toast.spm-toast-type1.spm-non-title .spm-toast-close {
  top: -20px;
}
.spg-navigation.spm-toast.spm-toast-type1.spm-non-title .spm-toast-title {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type1.spm-non-title .spm-toast-inner {
  padding-top: 22px;
}
.spg-navigation.spm-toast.spm-toast-type2 {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type2 > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-navigation-image {
  display: table-cell;
  width: 250px;
  vertical-align: top;
  padding: 0 10px;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-navigation-image > img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-inner {
  display: table-cell;
  width: 650px;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-content {
  font-size: 14px;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-nav {
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-nav > div .spm-toast-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-close {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type2 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .spg-navigation.spm-toast.spm-toast-type2 .spm-toast-inner {
    display: table-cell;
    width: 55%;
  }
  .spg-navigation.spm-toast.spm-toast-type2 .spm-navigation-image {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type2 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type2 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type2 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type2.spm-non-title > div {
  margin: 20px auto 0;
}
.spg-navigation.spm-toast.spm-toast-type2.spm-non-title .spm-toast-title {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type2.spm-non-title .spm-navigation-image {
  padding: 10px 0 0 10px;
}
.spg-navigation.spm-toast.spm-toast-type2.spm-non-title .spm-toast-close {
  top: -20px;
  right: 2px;
}
.spg-navigation.spm-toast.spm-toast-type3 {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type3 > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-navigation-image {
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  padding: 0 10px;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-navigation-image > img {
  width: 100%;
  max-width: 100%;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-inner {
  text-align: center;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-nav {
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-nav > div .spm-toast-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-close {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type3 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type3 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type3 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type3 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type3.spm-non-title > div {
  margin: 20px auto 0;
}
.spg-navigation.spm-toast.spm-toast-type3.spm-non-title .spm-toast-title {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type3.spm-non-title .spm-toast-close {
  top: -20px;
  right: 2px;
}
.spg-navigation.spm-toast.spm-toast-type4 {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 20px auto 0;
}
.spg-navigation.spm-toast.spm-toast-type4 > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-inner {
  text-align: center;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-content {
  padding: 10px 10px 0;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-nav {
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-nav > div .spm-toast-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type4 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type4 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type4 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type4 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type4.spm-non-title .spm-toast-title {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-non-title .spm-toast-content {
  padding-bottom: 0;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image .spm-toast-button {
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: none;
  border: 0;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image .spm-toast-button > img {
  vertical-align: top;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image .spm-toast-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image .spm-toast-button:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-non-content .spm-toast-content {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-non-content .spm-toast-nav {
  min-height: 150px;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-non-content .spm-toast-nav .spm-toast-button {
  height: 130px;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image-background > div {
  padding-top: 0 !important;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image-background > div .spm-toast-close {
  right: 2px;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image-background > div .spm-toast-nav > div {
  border-spacing: 0;
}
.spg-navigation.spm-toast.spm-toast-type4.spm-btn-image-background > div .spm-toast-nav .spm-toast-button {
  height: 150px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.spg-navigation.spm-toast.spm-toast-type5 {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type5 > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type5 > div {
  margin: 20px auto 0;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-title {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-inner {
  text-align: center;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-navigation-image {
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-navigation-image > img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-nav {
  position: absolute;
  bottom: 0;
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-nav > div .spm-toast-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type5 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type5 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type5 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type5 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type6 {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type6 > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-wrap {
  display: table;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-inner {
  display: table-cell;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-content {
  font-size: 14px;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-nav {
  display: table-cell;
  width: 250px;
  vertical-align: top;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-nav .spm-toast-button {
  background-image: inherit;
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-nav .spm-toast-button img {
  max-width: 100%;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type6 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .spg-navigation.spm-toast.spm-toast-type6 .spm-toast-nav {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type6 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type6 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type6 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type6.spm-non-title > div {
  margin: 20px auto 0;
}
.spg-navigation.spm-toast.spm-toast-type6.spm-non-title .spm-toast-title {
  display: none;
}
.spg-navigation.spm-toast.spm-toast-type6.spm-non-title .spm-toast-wrap {
  padding-bottom: 0;
}
.spg-navigation.spm-toast.spm-toast-type7 > div {
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type7 .spm-toast-wrap .spm-navigation-image {
  padding: 0 10px;
}
.spg-navigation.spm-toast.spm-toast-type7 .spm-toast-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-toast.spm-toast-type7 .spm-toast-close:after {
  content: '✖';
}
.spg-navigation.spm-toast.spm-toast-type7 .spm-toast-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type7 .spm-toast-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-toast.spm-toast-type7 .spm-toast-title {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type7 .spm-toast-content {
    font-size: 12px;
  }
  .spg-navigation.spm-toast.spm-toast-type7 .spm-toast-nav .spm-toast-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-toast.spm-toast-type7.spm-col-btn {
  max-width: 250px;
  right: 10px;
  padding-top: 10px;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-col-btn .spm-toast-button {
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0px;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-col-btn .spm-toast-button:last-child {
  margin-bottom: 0;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-row-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-row-btn > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type7.spm-row-btn .spm-toast-nav {
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-row-btn .spm-toast-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-row-btn .spm-toast-nav > div .spm-toast-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background {
  max-width: 250px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div {
  padding-top: 0 !important;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-wrap {
  padding-top: 0;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-nav {
  margin: 0;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-nav > div {
  border-spacing: 0;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-nav .spm-toast-button {
  height: 150px;
  padding: 0;
  background-image: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-nav .spm-toast-button > img {
  vertical-align: top;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-nav .spm-toast-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-toast.spm-toast-type7.spm-btn-image-background > div .spm-toast-nav .spm-toast-button:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.spg-navigation.spm-toast.spm-btn-image .spm-toast-button, .spg-navigation.spm-toast.spm-btn-image-background .spm-toast-button {
  background-image: none !important;
  background: transparent !important;
  background-color: inherit !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.spg-navigation.spm-dialog {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
  width: 50%;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: 9999999;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
.spg-navigation.spm-dialog *, .spg-navigation.spm-dialog *:before, .spg-navigation.spm-dialog *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  65% {
    transform: translateY(-48%);
  }
  80% {
    transform: translateY(-52%);
  }
  95% {
    transform: translateY(-48%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  65% {
    -webkit-transform: translateY(-48%);
  }
  80% {
    -webkit-transform: translateY(-52%);
  }
  95% {
    -webkit-transform: translateY(-48%);
  }
  100% {
    -webkit-transform: translateY(-50%);
  }
}
.spg-navigation.spm-dialog.top {
  top: 0;
}
.spg-navigation.spm-dialog.bottom {
  bottom: 0;
}
.spg-navigation.spm-dialog .spm-dialog-title {
  padding: 5px 40px 5px 14px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.spg-navigation.spm-dialog .spm-dialog-title:empty {
  display: none;
}
.spg-navigation.spm-dialog .spm-dialog-content {
  color: #666;
  padding: 10px;
  font-size: 14px;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}
.spg-navigation.spm-dialog .spm-dialog-nav {
  margin: 0 10px 5px;
  text-align: right;
}
.spg-navigation.spm-dialog .spm-dialog-close {
  position: relative;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  float: right;
  opacity: 0.9;
  padding: 0;
  background: transparent;
  border: 4px;
  box-shadow: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAACZ0lEQVRIS81W0XHbMAwFbP0nG9SZoMkEVUz5P5kgyQbJBHEnaDJBnAnqfhtwnQ3cCeJsUP9LRg86UkfRlMz0rrnyh3cUhQfgPQBE+OCFH4wHvYB5nh8Ph8MrRLywjuV2X+kuIvOqqp5Xq9XvVMejgBboGwBcIOJxnzERUTAFvksB3gMsiiIXke+HgEInFBgRL4mojr5rtQDH4/H1YDB4ihh7Q8QNADhj6tQIET+Fd3e73c1yuZwdBNTIAOCnf1FEfgHAlJnnMQPGGOV2ioifg+/nXZHWEVrOXv00isgjM9+miMEYM0PEK3dX01tV1UmM0xow8kMLbDKZnC4Wi7UPHp5FbDwz83XoMIbRaRqZ+dRddLyKyIyZb/Q8dmYdX7v0dkWJRVFo2rQE6iUil46zUEQKKiIvvrBijnhR3RHRgx+lAqryvliwN2YeWV5HWZa9pnCIiGcu5caYjafeFyJyzaI21QIEgNaFkJcYeFgGfgChPQconqGvRDT1DfeBxmquKAr9/97ZIKJWrWuEvYBdzcBS0AjJAaQANhyGKegD80TWAk1JqS+aDTOf/GvRJJeFcqbO+GXh8xjJyH5ZaOFnWaaN+cimaU1EZ2HhxwyHojHGNIUPANuyLEdhe0tqbXme64/qVLPCs+TWZvkKo9SOs6fAriYQKZ1odHUdenLeG08AoA17SkQ/YmA6nhBRa67pvfZe/3gK+QqNi4i2q9gArtugv5IHcBCpDlwnoq5MhudbfQO964nhLNiR9WBfa4eAt/b1dvtXj6hAiSomHaLumVhPFe1Idp+XZTlLAXJ2/6+HcCp577n3B5f+tSzf0q14AAAAAElFTkSuQmCC");
  outline: 0;
}
.spg-navigation.spm-dialog .spm-dialog-close:hover {
  opacity: 0.6;
}
.spg-navigation.spm-dialog .spm-dialog-close:active {
  opacity: 0.8;
}
.spg-navigation.spm-dialog .spm-dialog-button {
  display: inline-block;
  padding: 4px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.spg-navigation.spm-dialog .spm-dialog-button:hover, .spg-navigation.spm-dialog .spm-dialog-button:focus {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
  text-decoration: none;
  background-position: 0 -15px;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.spg-navigation.spm-dialog .spm-dialog-button + .spm-dialog-button {
  margin-left: 5px;
}
.spg-navigation.spm-dialog .fade {
  opacity: 0;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.spg-navigation.spm-dialog .fade.in {
  opacity: 1;
}

.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-wrap {
  text-align: center;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-content {
  width: 100%;
  padding-bottom: 0;
  vertical-align: top;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-navigation-image {
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-navigation-image > img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-nav {
  margin: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-nav > div .spm-dialog-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-close {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-close:after {
  content: '✖';
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-title > div {
  margin: 0 auto;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-title .spm-dialog-title {
  display: none;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-title .spm-dialog-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-title .spm-dialog-close:after {
  content: '✖';
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-title .spm-dialog-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-title .spm-dialog-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-non-content .spm-dialog-content {
  display: none;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image .spm-dialog-button {
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: none;
  border: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image .spm-dialog-button > img {
  vertical-align: top;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image .spm-dialog-button:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image .spm-dialog-button:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image-background > div {
  padding-top: 0 !important;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image-background > div .spm-dialog-wrap {
  padding-top: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image-background > div .spm-dialog-close {
  right: 2px;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image-background > div .spm-dialog-nav > div {
  border-spacing: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type1.spm-btn-image-background > div .spm-dialog-nav .spm-dialog-button {
  height: 150px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-title {
    font-size: 12px;
  }
  .spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-content {
    font-size: 12px;
  }
  .spg-navigation.spm-dialog.spm-dialog-type1 .spm-dialog-nav .spm-dialog-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-dialog.spm-dialog-type2 > div {
  margin: 0 auto;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-wrap {
  text-align: center;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-navigation-image {
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-navigation-image > img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-nav {
  position: absolute;
  bottom: 0;
  margin: 0;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-nav > div {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-nav > div .spm-dialog-button {
  display: table-cell;
  word-break: break-all;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-close {
  position: absolute;
  top: -20px;
  right: 2px;
  color: #000;
  font: 14px/100% arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  background-color: #FFF;
  background-image: none;
  text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  -webkit-box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
  box-shadow: rgba(100, 100, 100, 0.8) 0 1px 3px;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-close:after {
  content: '✖';
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-close:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media screen and (max-width: 480px) {
  .spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-title {
    font-size: 12px;
  }
  .spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-content {
    font-size: 12px;
  }
  .spg-navigation.spm-dialog.spm-dialog-type2 .spm-dialog-nav .spm-dialog-button {
    font-size: 12px;
    line-height: 1.2;
  }
}
.spg-navigation.spm-dialog.spm-btn-image .spm-dialog-button, .spg-navigation.spm-dialog.spm-btn-image-background .spm-dialog-button {
  background-image: none !important;
  background: transparent !important;
  background-color: inherit !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

@media (max-width: 600px) {
  .spg-navigation.spm-dialog {
    left: 2%;
    max-width: 96%;
    width: 96%;
  }
}
