@charset "utf-8";

/* CSS Document */

/* 
*
*	Reset and Base Style Sheet
*	Last Update 2007-05-04
*
*	1-1.Yahoo UI Library Fonts CSS
*	1-2.Universal selector
*	1-3.Structure Module
*	1-4.Text Module
*	1-5.Hypertext Module
*	1-6.List Module
*	1-7.Edit Module
*	1-8.Forms Module
*	1-9.Tables Module
*	1-10.Image Module
*	1-11.Object Module
*
*/

/*======================================

	1-1.Yahoo UI Library Fonts CSS
	http://developer.yahoo.com/yui/fonts/
	*Copyright (c) 2006, Yahoo! Inc. All rights reserved.
	*http://developer.yahoo.com/yui/license.txt

	Font-size Adjustment
	
	77% = 10px	| 	122% = 16px	|	167% = 22px	
	85% = 11px	|	129% = 17px	|	174% = 23px
	92% = 12px	|	136% = 18px	|	182% = 24px
	100% = 13px	|	144% = 19px	|	189% = 25px
	107% = 14px	|	152% = 20px	|	197% = 26px
	114% = 15px	|	159% = 21px	|

=======================================*/

body {
	margin: 0px;
	padding: 0px;
}

select,
input,
textarea {
	line-height: 1.8em;
	border: 1px solid #CCCCCC;
	padding: 5px 8px;
	font-size: 12px;
}

/*======================================

	1-2.Universal selector

=======================================*/

* {
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
}

/*======================================

	1-4.Text Module

=======================================*/

p,
pre,
address,
cite {
	margin: 0em;
	padding:0em;
	line-height: 1.6em;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0em;
	padding:0em;
	line-height: 1.8em;
	font-weight: normal;
	color: #333333;
}

h1 {
}

h2 {
}

h3 {

}

h4 {
}

h5 {
}

h6 {
}

pre {
}

blockquote {
}


em {
}

strong {
	font-weight: bold;
	line-height: 200%;
}

code {
}

abbr,
acronym {
}

kbd {

}

/*======================================

	1-5.Hypertext Module

=======================================*/



/*======================================

	1-6.List Module

=======================================*/

ul,
ol,
dl {
	margin: 0px;
	padding-left: 0px;


}

li,
dt,
dd {
	list-style: none;
	line-height: 1.8em;
	color: #333333;
}

ol li{
	list-style:decimal inside;
	margin-left: 35px;
	text-indent: -25px;
}

dt {
}

dd {
 margin: 0px 0px 0px 10px;
}

li li,
li p,
li pre,
li dt,
li dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {


}

li ul,
li ol,
li dl,
li p,
dd ul,
dd ol,
dd dl,
dd p {

}

/*======================================

	1-7.Edit Module

=======================================*/

del {

}


/*======================================

	1-8.Forms Module

=======================================*/

form {

}


fieldset {
}

legend {
}
textarea
 {
	font-size: 12px;
}
select {
	padding: 0.1em;
	font-size: 12px;
}


input:hover,
textarea:hover {


}

input:focus,
textarea:focus {
	font-size: 12px;
	background: #FFFFCC;
}

textarea {

}

/*======================================

	1-9.Tables Module

=======================================*/

table {
	border-collapse: separate;
	border-spacing: 0px;
	border-collapse:collapse;
}

th,
td {






}

/*======================================

	1-10.Image Module

=======================================*/

img {
	border-style: none;
	padding: 0px;
}

a img {


}

a:hover img {

}

/*======================================

	1-11.Object Module

=======================================*/

object,
embed {

}
