@charset "UTF-8";
/*---------------------------------------*/
/* settei */
/*---------------------------------------*/
body {
  margin: 0px;
  padding: 0px; }

select {
  line-height: 1.8em;
  border: 1px solid #CCCCCC;
  padding: 5px 8px;
  font-size: 12px; }

input {
  line-height: 1.8em;
  border: 1px solid #CCCCCC;
  padding: 5px 8px;
  font-size: 12px; }

textarea {
  line-height: 1.8em;
  border: 1px solid #CCCCCC;
  padding: 5px 8px;
  font-size: 12px; }

/*======================================
	1-2.Universal selector
 @mixin ======================================*/
* {
  font-weight: normal;
  font-style: normal;
  font-size: 100%; }

/*======================================
	1-4.Text Module
 @mixin ======================================*/
p {
  margin: 0em;
  padding: 0em;
  line-height: 1.6em;
  color: #333333; }

pre {
  margin: 0em;
  padding: 0em;
  line-height: 1.6em;
  color: #333333; }

address {
  margin: 0em;
  padding: 0em;
  line-height: 1.6em;
  color: #333333; }

cite {
  margin: 0em;
  padding: 0em;
  line-height: 1.6em;
  color: #333333; }

h1 {
  margin: 0em;
  padding: 0em;
  line-height: 1.8em;
  font-weight: normal;
  color: #333333; }

h2 {
  margin: 0em;
  padding: 0em;
  line-height: 1.8em;
  font-weight: normal;
  color: #333333; }

h3 {
  margin: 0em;
  padding: 0em;
  line-height: 1.8em;
  font-weight: normal;
  color: #333333; }

h4 {
  margin: 0em;
  padding: 0em;
  line-height: 1.8em;
  font-weight: normal;
  color: #333333; }

h5 {
  margin: 0em;
  padding: 0em;
  line-height: 1.8em;
  font-weight: normal;
  color: #333333; }

h6 {
  margin: 0em;
  padding: 0em;
  line-height: 1.8em;
  font-weight: normal;
  color: #333333; }

strong {
  font-weight: bold;
  line-height: 200%; }

ul {
  margin: 0px;
  padding-left: 0px; }

ol {
  margin: 0px;
  padding-left: 0px; }

dl {
  margin: 0px;
  padding-left: 0px; }

li {
  list-style: none;
  line-height: 1.8em;
  color: #333333; }

dt {
  list-style: none;
  line-height: 1.8em;
  color: #333333; }

dd {
  list-style: none;
  line-height: 1.8em;
  color: #333333; }

ol li {
  list-style: decimal inside;
  margin-left: 35px;
  text-indent: -25px; }

dd {
  margin: 0px 0px 0px 10px; }

/*======================================

	1-9.Tables Module

 @mixin ======================================*/
table {
  border-collapse: separate;
  border-spacing: 0px;
  border-collapse: collapse; }

/*======================================

	1-10.Image Module

 @mixin ======================================*/
img {
  border-style: none;
  padding: 0px; }

/* --------------------------------------- */
/* common */
/* --------------------------------------- */
.topic-main-100per-inner {
  display: block !important; }

  #motherscup200407 .contentsInner {
    box-sizing: border-box;
    padding: 0 80px;
  }

  #motherscup200407 .keiVisual {
    position: relative;
    padding: 40px 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 530px;
    background-image: url(../topic_images/jpg/200407motherscup_keyvisual_bg.jpg);
    background-size: cover;
    text-align: center;
  }
  #motherscup200407 .keiVisual .deco01 {
    content: '';
    position: absolute;
    top: 8vw;
    left: 0;
    width: 306px;
    height: 190px;
    background-image: url(../topic_images/png/200407motherscup_keyvisual_deco01.png);
    background-size: contain;
  }
  #motherscup200407 .keiVisual .deco02 {
    content: '';
    position: absolute;
    bottom: 6vw;
    right: 0;
    width: 280px;
    height: 182px;
    background-image: url(../topic_images/png/200407motherscup_keyvisual_deco02.png);
    background-size: contain;
  }
  #motherscup200407 .keiVisual .deco03 {
    content: '';
    position: absolute;
    bottom: -1vw;
    right: 12vw;
    width: 277px;
    height: 172px;
    background-image: url(../topic_images/png/200407motherscup_keyvisual_deco03.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .keiVisual .main {
    margin: auto;
    width: 855px;
    height: 443px;
    background-image: url(../topic_images/png/200407motherscup_keyvisual_pic01.png);
    background-size: contain;
    font-family: 'Noto Sans JP', sans-serif;
  }
  #motherscup200407 .keiVisual .main .lead {
    padding-top: 60px;
    font-size: 26px;
    font-weight: 700;
    color: #4E4E4E;
  }
  #motherscup200407 .keiVisual .main .title {
    color: #fff;
    padding-top: 36px;
    font-size: 48px;
    font-weight: 700;
  }
  #motherscup200407 .keiVisual .main .caption {
    margin: 23px auto 0;
    font-size: 16px;
    font-weight: 400;
    width: 580px;
    color: #4E4E4E;
    text-align: left;
    line-height: 2.2em;
  }
  #motherscup200407 .keiVisual .main .caption td {
    padding: 5px 0;
  }
  #motherscup200407 .keiVisual .main .caption .borderLine {
    width: 100%;
    height: 3px;
    background: url(../topic_images/png/200407motherscup_keyvisual_pic02.png);
    background-repeat: repeat-x;
    background-size: 14px 6px;
  }
  #motherscup200407 .goods {
    color: #4E4E4E;
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
    margin-bottom: 120px;
  }
  #motherscup200407 .goods .bg {
    width: 100%;
    height: 280px;
    position: relative;
    z-index: -999;
  }
  #motherscup200407 .goods .bgPink {
    background-color: #FCF2F2;
  }
  #motherscup200407 .goods .bgSky {
    background-color: rgba(113, 165, 180, 0.3);
  }
  #motherscup200407 .goods .brandTitle-wedgwood {
    content: '';
    position: absolute;
    top: 60px;
    right: 0vw;
    width: 470px;
    height: 256px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-herend {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 284px;
    height: 303px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-albert {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 455px;
    height: 379px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle03.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-arabia {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 276px;
    height: 284px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle04.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-rocopenhagen {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 720px;
    height: 262px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle05.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-aynsley {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 307px;
    height: 403px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle06.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-meissen {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 300px;
    height: 394px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle07.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-augarten {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 384px;
    height: 369px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle08.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-portmeirion {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 482px;
    height: 326px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle09.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-iporcelain {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 704px;
    height: 417px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle10.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-spode {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 242px;
    height: 371px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle11.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-boleslawiec {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 467px;
    height: 464px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle12.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-hermes {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 283px;
    height: 251px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle13.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-ichendorf {
    content: '';
    position: absolute;
    top: 50px;
    left: 0vw;
    width: 705px;
    height: 367px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle14.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-buran {
    content: '';
    position: absolute;
    top: 50px;
    right: 0vw;
    width: 684px;
    height: 400px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle15.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .brandTitle-other {
    content: '';
    position: absolute;
    top: 60px;
    left: 0vw;
    width: 257px;
    height: 408px;
    background-image: url(../topic_images/png/200407motherscup_goods_brandtitle16.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper {
    margin-top: -280px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  #motherscup200407 .goods .goodsWrapper .rankLast {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end!important;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox {
    width: 50%;
    padding-right: 54px;
    box-sizing: border-box;
    z-index: 1;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameSky {
    order: 2;
    padding-right: 0 !important;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picSky {
    order: 1;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank {
    width: 100%;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-wedgwood {
    margin-top: 170px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-herend {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-albert {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-arabia {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-rocopenhagen {
    margin-top: 60px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-aynsley {
    margin-top: 110px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-meissen {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-augarten {
    margin-top: 60px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-portmeirion {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-iporcelain {
    margin-top: 120px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-spode {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-boleslawiec {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-hermes {
    margin-top: 160px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-ichendorf {
    margin-top: 100px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-buran {
    margin-top: 50px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-other {
    margin-top: 40px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank p.brandbgPink {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    padding: 16px 36px 9px 80px;
    vertical-align: text-bottom;
    background-color: #F56E6E;
    float: left;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank p.brandbgSky {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    box-sizing: border-box;
    padding: 16px 80px 9px 36px;
    vertical-align: text-bottom;
    background-color: #71A5B4;
    float: right;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank .num {
    font-size: 38px;
    vertical-align: baseline;
    font-family: 'Oswald', sans-serif;
    margin: 0 8px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper {
    padding: 0 0 0 80px;
    box-sizing: border-box;
    margin-top: 30px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper-sky {
    padding: 0 80px 0 80px !important;
    box-sizing: border-box;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper p {
    color: #4E4E4E;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper .brandName {
    font-size: 28px;
    border-bottom: 1px solid #4E4E4E;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper .brandName .brandBold {
    font-size: 38px;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper .caption {
    line-height: 2em;
    margin-bottom: 34px;
  }
  #motherscup200407 .goods .goodsWrapper .container .nameBox .nameWrapper .caption {
    line-height: 2em;
    margin-bottom: 34px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandName-last p {
    text-align: right;
    color: #4E4E4E;
    padding-right: 80px;
    font-size: 38px;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .container .picBox {
    width: 50%;
    padding: 0 60px 70px;
    box-sizing: border-box;
    z-index: 1;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox {
    width: 50%;
    padding: 0 60px 70px;
    box-sizing: border-box;
    z-index: 1;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox {
    width: 50%;
    padding: 0 60px 70px;
    box-sizing: border-box;
    z-index: 1;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-wedgwood01 {
    margin: 110px auto 0;
    width: 100%;
    height: 0;
    padding-top: 52.9%;
    /* width: 461px;
    height: 244px; */
    background-image: url(../topic_images/png/200407motherscup_goods_wedgwood01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-herend01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 61.7%;
    /* width: 400px;
    height: 247px; */
    background-image: url(../topic_images/png/200407motherscup_goods_herend01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-albert01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 61.7%;
    /* width: 400px;
    height: 247px; */
    background-image: url(../topic_images/png/200407motherscup_goods_albert01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-arabia01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 61.7%;
    /* width: 400px;
    height: 247px; */
    background-image: url(../topic_images/png/200407motherscup_goods_arabia01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-rocopenhagen01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 48.3%;
    /* width: 410px;
    height: 198px; */
    background-image: url(../topic_images/png/200407motherscup_goods_rocopenhagen01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-aynsley01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 52%;
    /* width: 400px;
    height: 208px; */
    background-image: url(../topic_images/png/200407motherscup_goods_aynsley01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-meissen01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 49%;
    /* width: 512px;
    height: 251px; */
    background-image: url(../topic_images/png/200407motherscup_goods_meissen01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-augarten01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 50.3%;
    /* width: 558px;
    height: 281px; */
    background-image: url(../topic_images/png/200407motherscup_goods_augarten01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-portmeirion01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 56.7%;
    /* width: 506px;
    height: 287px; */
    background-image: url(../topic_images/png/200407motherscup_goods_portmeirion01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-iporcelain01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 58.1%;
    /* width: 464px;
    height: 270px; */
    background-image: url(../topic_images/png/200407motherscup_goods_iporcelain01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-spode01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 57.3%;
    /* width: 488px;
    height: 280px; */
    background-image: url(../topic_images/png/200407motherscup_goods_spode01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-boleslawiec01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 62%;
    /* width: 469px;
    height: 291px; */
    background-image: url(../topic_images/png/200407motherscup_goods_boleslawiec01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-hermes01 {
    margin: 160px auto 0;
    width: 100%;
    height: 0;
    padding-top: 45.2%;
    /* width: 464px;
    height: 210px; */
    background-image: url(../topic_images/png/200407motherscup_goods_hermes01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-ichendorf01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 68.3%;
    /* width: 404px;
    height: 276px; */
    background-image: url(../topic_images/png/200407motherscup_goods_ichendorf01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-buran01 {
    margin: 116px auto 0;
    width: 100%;
    height: 0;
    padding-top: 65.2%;
    /* width: 477px;
    height: 311px; */
    background-image: url(../topic_images/png/200407motherscup_goods_buran01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .pic-other01 {
    margin: 26px auto 0;
    width: 100%;
    height: 0;
    padding-top: 53.3%;
    /* width: 495px;
    height: 264px; */
    background-image: url(../topic_images/png/200407motherscup_goods_other01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .pic-other02 {
    margin: 26px auto 0;
    width: 100%;
    height: 0;
    padding-top: 53.2%;
    /* width: 483px;
    height: 257px; */
    background-image: url(../topic_images/png/200407motherscup_goods_other02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    height: 154px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .num {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33%;
    height: 140px;
    background-image: url(../topic_images/png/200407motherscup_common_rank01.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 67%;
    border-bottom: 1px solid #4E4E4E;
    padding-bottom: 20px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    height: 154px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .num01 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33%;
    height: 162px;
    background-image: url(../topic_images/png/200407motherscup_common_ranklast01.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .num02 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    height: 162px;
    background-image: url(../topic_images/png/200407motherscup_common_ranklast02.png);
    background-repeat: no-repeat;
    background-size: contain;
    order: 2;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 67%;
    border-bottom: 1px solid #4E4E4E;
    padding-bottom: 20px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtboxLast {
    position: absolute;
    bottom: 0;
    left: 0 !important;
    width: 67%;
    border-bottom: 1px solid #4E4E4E;
    padding-bottom: 20px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .fontbold {
    color: #4E4E4E;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .product {
    font-size: 24px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .product-small {
    font-size: 16px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .norm {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0 20px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .product-sml-ut {
    color: #4E4E4E;
    font-size: 20px;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .norm-large {
    color: #4E4E4E;
    font-size: 24px;
    font-weight: 700;
    margin: 4px 0 20px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .money {
    font-size: 16px;
    display: inline;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .price {
    font-size: 22px;
    display: inline;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .special {
    font-size: 22px;
    display: inline;
    margin-right: 11px;
    font-size: 16px;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .discount {
    display: inline;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 2px 6px;
    background-color: #4E4E4E;
    margin-left: 4px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 67%;
    border-bottom: 1px solid #4E4E4E;
    padding-bottom: 20px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .fontbold {
    color: #4E4E4E;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .product {
    font-size: 24px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .product-small {
    font-size: 16px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .norm {
    color: #4E4E4E;
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0 20px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .norm-large {
    color: #4E4E4E;
    font-size: 24px;
    font-weight: 700;
    margin: 4px 0 20px;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .money {
    font-size: 16px;
    display: inline;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .price {
    font-size: 22px;
    display: inline;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .special {
    font-size: 22px;
    display: inline;
    margin-right: 11px;
    font-size: 16px;
    font-weight: 700;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .discount {
    display: inline;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 2px 6px;
    background-color: #4E4E4E;
    margin-left: 4px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .caption {
    margin: 26px 0 30px;
    line-height: 2em;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .caption {
    margin: 26px 0 30px;
    line-height: 2em;
    min-height: 330px;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .detailLink {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 14px 62px;
    border-radius: 4px;
    text-decoration: none;
    transition: .3s ease;
    float: right;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .detailLink {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 14px 62px;
    border-radius: 4px;
    text-decoration: none;
    transition: .3s ease;
    float: right;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .linkPink {
    background-color: #F77A7A;
    box-shadow: 0 4px 0 #B74F4F;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .linkSky {
    background-color: #71A5B4;
    box-shadow: 0 4px 0 #418091;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .linkSky {
    background-color: #71A5B4;
    box-shadow: 0 4px 0 #418091;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .linkSky {
    background-color: #71A5B4;
    box-shadow: 0 4px 0 #418091;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .linkSky {
    background-color: #71A5B4;
    box-shadow: 0 4px 0 #418091;
  }
  #motherscup200407 .goods .goodsWrapper .rank01 .picBox .detailLink:hover {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: none;
  }
  #motherscup200407 .goods .goodsWrapper .container .picBox .detailLink:hover {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: none;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 0 80px;
    box-sizing: border-box;
    margin: -210px 0 160px;
  }
  #motherscup200407 .goods .goodsWrapper .band {
    width: 100%;
    height: 220px;
    padding-top: 30px;
  }
  #motherscup200407 .goods .goodsWrapper .bgbandPink {
    background-color: rgba(248, 244, 244, 0.67);
  }
  #motherscup200407 .goods .goodsWrapper .bgbandSky {
    background-color: rgba(245, 245, 245, 1);
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article {
    position: relative;
    width: 25%;
    margin-right: 50px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .lastBox {
    position: relative;
    width: 30% !important;
    margin-right: 0 !important;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article:last-child {
    margin-right: 0;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox {
    width: 100%;
    height: 0;
    padding-top: 100%;
    /* width: 260px;
    height: 260px; */
    margin: auto;
    position: relative;
    z-index: 1
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum02 {
    content: '';
    position: absolute;
    top: -1vw;
    left: -1vw;
    width: 57px;
    height: 85px;
    background-image: url(../topic_images/png/200407motherscup_common_rank02.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum03 {
    content: '';
    position: absolute;
    bottom: 2vw;
    left: -2vw;
    width: 54px;
    height: 87px;
    background-image: url(../topic_images/png/200407motherscup_common_rank03.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum03-last {
    content: '';
    position: absolute;
    bottom: 4vw;
    left: 0vw;
    width: 54px;
    height: 87px;
    background-image: url(../topic_images/png/200407motherscup_common_rank03.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum04 {
    content: '';
    position: absolute;
    top: -1vw;
    left: -1vw;
    width: 63px;
    height: 90px;
    background-image: url(../topic_images/png/200407motherscup_common_rank04.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum04-last {
    content: '';
    position: absolute;
    top: 2vw;
    left: 1vw;
    width: 63px;
    height: 90px;
    background-image: url(../topic_images/png/200407motherscup_common_rank04.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum05 {
    content: '';
    position: absolute;
    bottom: 2vw;
    left: -2vw;
    width: 58px;
    height: 86px;
    background-image: url(../topic_images/png/200407motherscup_common_rank05.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum05-last {
    content: '';
    position: absolute;
    bottom: 5vw;
    left: -1vw;
    width: 58px;
    height: 86px;
    background-image: url(../topic_images/png/200407motherscup_common_rank05.png);
    background-size: contain;
    z-index: 999;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-wedgwood02 {
    background-image: url(../topic_images/png/200407motherscup_goods_wedgwood02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-wedgwood03 {
    background-image: url(../topic_images/png/200407motherscup_goods_wedgwood03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-wedgwood04 {
    background-image: url(../topic_images/png/200407motherscup_goods_wedgwood04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-wedgwood05 {
    background-image: url(../topic_images/png/200407motherscup_goods_wedgwood05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-herend02 {
    background-image: url(../topic_images/png/200407motherscup_goods_herend02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-herend03 {
    background-image: url(../topic_images/png/200407motherscup_goods_herend03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-herend04 {
    background-image: url(../topic_images/png/200407motherscup_goods_herend04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-herend05 {
    background-image: url(../topic_images/png/200407motherscup_goods_herend05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-albert02 {
    background-image: url(../topic_images/png/200407motherscup_goods_albert02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-albert03 {
    background-image: url(../topic_images/png/200407motherscup_goods_albert03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-albert04 {
    background-image: url(../topic_images/png/200407motherscup_goods_albert04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-albert05 {
    background-image: url(../topic_images/png/200407motherscup_goods_albert05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-arabia02 {
    background-image: url(../topic_images/png/200407motherscup_goods_arabia02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-arabia03 {
    background-image: url(../topic_images/png/200407motherscup_goods_arabia03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-arabia04 {
    background-image: url(../topic_images/png/200407motherscup_goods_arabia04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-arabia05 {
    background-image: url(../topic_images/png/200407motherscup_goods_arabia05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-rocopenhagen02 {
    background-image: url(../topic_images/png/200407motherscup_goods_rocopenhagen02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-rocopenhagen03 {
    background-image: url(../topic_images/png/200407motherscup_goods_rocopenhagen03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-rocopenhagen04 {
    background-image: url(../topic_images/png/200407motherscup_goods_rocopenhagen04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-rocopenhagen05 {
    background-image: url(../topic_images/png/200407motherscup_goods_rocopenhagen05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-aynsley02 {
    background-image: url(../topic_images/png/200407motherscup_goods_aynsley02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-aynsley03 {
    background-image: url(../topic_images/png/200407motherscup_goods_aynsley03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-aynsley04 {
    background-image: url(../topic_images/png/200407motherscup_goods_aynsley04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-aynsley05 {
    background-image: url(../topic_images/png/200407motherscup_goods_aynsley05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-meissen02 {
    background-image: url(../topic_images/png/200407motherscup_goods_meissen02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-meissen03 {
    background-image: url(../topic_images/png/200407motherscup_goods_meissen03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-meissen04 {
    background-image: url(../topic_images/png/200407motherscup_goods_meissen04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-meissen05 {
    background-image: url(../topic_images/png/200407motherscup_goods_meissen05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-augarten02 {
    background-image: url(../topic_images/png/200407motherscup_goods_augarten02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-augarten03 {
    background-image: url(../topic_images/png/200407motherscup_goods_augarten03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-augarten04 {
    background-image: url(../topic_images/png/200407motherscup_goods_augarten04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-augarten05 {
    background-image: url(../topic_images/png/200407motherscup_goods_augarten05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-portmeirion02 {
    background-image: url(../topic_images/png/200407motherscup_goods_portmeirion02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-portmeirion03 {
    background-image: url(../topic_images/png/200407motherscup_goods_portmeirion03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-portmeirion04 {
    background-image: url(../topic_images/png/200407motherscup_goods_portmeirion04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-portmeirion05 {
    background-image: url(../topic_images/png/200407motherscup_goods_portmeirion05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-iporcelain02 {
    background-image: url(../topic_images/png/200407motherscup_goods_iporcelain02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-iporcelain03 {
    background-image: url(../topic_images/png/200407motherscup_goods_iporcelain03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-iporcelain04 {
    background-image: url(../topic_images/png/200407motherscup_goods_iporcelain04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-iporcelain05 {
    background-image: url(../topic_images/png/200407motherscup_goods_iporcelain05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-spode02 {
    background-image: url(../topic_images/png/200407motherscup_goods_spode02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-spode03 {
    background-image: url(../topic_images/png/200407motherscup_goods_spode03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-spode04 {
    background-image: url(../topic_images/png/200407motherscup_goods_spode04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-spode05 {
    background-image: url(../topic_images/png/200407motherscup_goods_spode05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-boleslawiec02 {
    background-image: url(../topic_images/png/200407motherscup_goods_boleslawiec02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-boleslawiec03 {
    background-image: url(../topic_images/png/200407motherscup_goods_boleslawiec03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-boleslawiec04 {
    background-image: url(../topic_images/png/200407motherscup_goods_boleslawiec04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-boleslawiec05 {
    background-image: url(../topic_images/png/200407motherscup_goods_boleslawiec05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-hermes02 {
    background-image: url(../topic_images/png/200407motherscup_goods_hermes02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-hermes03 {
    background-image: url(../topic_images/png/200407motherscup_goods_hermes03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-hermes04 {
    background-image: url(../topic_images/png/200407motherscup_goods_hermes04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-hermes05 {
    background-image: url(../topic_images/png/200407motherscup_goods_hermes05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-ichendorf02 {
    background-image: url(../topic_images/png/200407motherscup_goods_ichendorf02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-ichendorf03 {
    background-image: url(../topic_images/png/200407motherscup_goods_ichendorf03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-ichendorf04 {
    background-image: url(../topic_images/png/200407motherscup_goods_ichendorf04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-ichendorf05 {
    background-image: url(../topic_images/png/200407motherscup_goods_ichendorf05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-buran02 {
    background-image: url(../topic_images/png/200407motherscup_goods_buran02.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-buran03 {
    background-image: url(../topic_images/png/200407motherscup_goods_buran03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-buran04 {
    background-image: url(../topic_images/png/200407motherscup_goods_buran04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-buran05 {
    background-image: url(../topic_images/png/200407motherscup_goods_buran05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-other03 {
    background-image: url(../topic_images/png/200407motherscup_goods_other03.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-other04 {
    background-image: url(../topic_images/png/200407motherscup_goods_other04.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .pic-other05 {
    background-image: url(../topic_images/png/200407motherscup_goods_other05.png);
    background-size: contain;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox {
    margin-top: -20px;
    margin-bottom: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
    z-index: 999
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .product {
    color: #4E4E4E;
    font-weight: 700;
    font-size: 24px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .txtNormal {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 16px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .borderLine {
    border-bottom: 1px solid #4E4E4E;
    margin: 24px 0 20px;
    padding-bottom: 14px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .special {
    display: inline;
    color: #4E4E4E;
    font-weight: 700;
    font-size: 16px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .special span {
    display: inline;
    color: #4E4E4E;
    font-weight: 700;
    font-size: 22px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .discount {
    display: inline;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 1px 8px;
    background-color: #4E4E4E;
    margin-left: 4px;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .detailLink {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 14px 0;
    border-radius: 4px;
    text-decoration: none;
    transition: .3s ease;
    transform: translateY(100%);
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .linkPink {
    background-color: #F77A7A;
    box-shadow: 0 4px 0 #B74F4F;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .linkSky {
    background-color: #71A5B4;
    box-shadow: 0 4px 0 #418091;
  }
  #motherscup200407 .goods .goodsWrapper .rankOther .article .detailLink:hover {
    box-shadow: none;/*線を消す*/
    bottom: -4px;
  }

  @media screen and (min-width: 840px) and (max-width: 1024px) {
    #motherscup200407 .keiVisual .main {
      margin: 0 auto;
      width: 730px;
      height: 378px;
      /* width: 769px;
      height: 398px; */
      background: url(../topic_images/png/200407motherscup_keyvisual_pic01.png)center no-repeat;
      background-size: contain;
    }
    #motherscup200407 .keiVisual .main .lead {
      padding-top: 50px;
      font-size: 24px;
    }
    #motherscup200407 .keiVisual .main .title {
      font-size: 38px;
      padding-top: 31px;
    }
    #motherscup200407 .keiVisual .main .caption {
      display: block;
      box-sizing: border-box;
      padding: 10px 30px;
    }
    #motherscup200407 .keiVisual .deco01 {
      top: 1vw;
      /* width: 306px;
      height: 190px; */
      width: 244px;
      height: 152px;
    }
    #motherscup200407 .keiVisual .deco02 {
      content: '';
      position: absolute;
      bottom: 6vw;
      right: 0;
      /* width: 280px;
      height: 182px; */
      width: 168px;
      height: 109px;
    }
    #motherscup200407 .keiVisual .deco03 {
      content: '';
      position: absolute;
      bottom: -2vw;
      right: 14vw;
      /* width: 277px;
      height: 172px; */
      width: 221px;
      height: 137px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox {
      padding-right: 20px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper {
      padding: 0 0 0 40px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox {
      padding: 0 40px 70px 20px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper .brandName {
      font-size: 20px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper .brandName .brandBold {
      font-size: 30px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther {
      flex-wrap: wrap;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .article {
      width: 45%;
      margin-right: 0px;
      margin-bottom: 100px;
      }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox {
      width: 60%;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox {
      width: 40%;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .num {
      width: 25%;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox {
      width: 75%;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper-sky {
      padding: 0 40px 0 20px !important;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox {
      padding: 0 30px 40px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .pic-other01 {
      width: 100%;
      height: 0;
      padding-top: 53.3%;
      /* width: 495px;
      height: 264px; */
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box {
      margin-top: 90px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .pic-other02 {
      width: 100%;
      height: 0;
      padding-top: 53.2%;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .num01 {
      width: 26%;
      top: -11vw;
      left: -19px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox {
      width: 100%;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .num02 {
      width: 26%;
      top: -11vw;
      right: -19px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .caption {
      min-height: 450px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther {
      padding: 0px 40px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .lastBox {
      width: 31% !important;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox .rank01Box .txtBox .discount {
      margin-left: 0;
      margin-top: 5px;
      width: 82px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum03 {
      top: 0;
      left: 0;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .article .picBox .picNum05 {
      top: 0;
      left: 0;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank p.brandbgPink {
      padding: 16px 30px 9px 80px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .article:nth-child(3) {
      margin-top: 100px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .lastBox {
      margin-top: 0px !important;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther .article:nth-child(4) {
      margin-top: 100px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox {
      padding: 0 50px;
    }
    #motherscup200407 .goods .goodsWrapper .container {
      margin-bottom: 50px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .rank01Box .txtBox .turn {
      display: block !important;
      width: 82px;
      margin-top: 8px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-rocopenhagen {
      margin-top: 150px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-rocopenhagen01 {
      margin-top: 246px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-wedgwood01 {
      margin-top: 246px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-herend01 {
      margin-top: 178px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-albert {
      margin-top: 135px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-albert01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-arabia {
      margin-top: 140px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-arabia01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-aynsley {
      margin-top: 140px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-aynsley01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-meissen {
      margin-top: 130px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-meissen01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-augarten {
      margin-top: 150px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-augarten01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-portmeirion {
      margin-top: 150px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-portmeirion01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-iporcelain01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-spode {
      margin-top: 130px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-spode01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-boleslawiec {
      margin-top: 130px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-boleslawiec01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-hermes {
      margin-top: 130px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-hermes01 {
      margin-top: 226px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-ichendorf {
      margin-top: 150px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-ichendorf01 {
      margin-top: 246px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank-buran {
      margin-top: 150px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox .pic-buran01 {
      margin-top: 226px;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1190px) {
    #motherscup200407 .goods .goodsWrapper .rankOther .article .txtBox .discount {
      display: block;
      margin-left: 0;
      margin-top: 5px;
      width: 90px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox {
      padding: 0 40px 70px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox {
      padding: 0 50px;
    }
  }
  @media screen and (min-width: 1600px) {
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox {
      padding-right: 60px;
      box-sizing: border-box;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper {
      padding: 0 90px 0 17vw;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picBox {
      padding: 0 17vw 0 0;
      margin-bottom: 60px;
    }
    #motherscup200407 .goods .goodsWrapper .rankOther {
      padding: 0 17vw;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .nameWrapper-sky {
      padding: 0 17vw 0 0 !important;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .picSky {
      padding: 0 90px 0 17vw !important;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank p.brandbgPink {
      padding: 16px 36px 9px 300px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandRank p.brandbgSky {
      padding: 16px 300px 9px 36px;
    }
    #motherscup200407 .goods .goodsWrapper .container .picBox {
      padding: 0 10vw 70px;
    }
    #motherscup200407 .goods .goodsWrapper .rank01 .nameBox .brandName-last p {
      padding-right: 17vw;
    }
  }

  .clearfix:after {
    content: "";
    clear: both;
    display: block;
  }
