@charset "utf-8";

header ul.htop li {
    width: 34px;
}

header div.phone {
    padding-bottom:0;
}



/*************************/

header nav.recommendNav{
  overflow: hidden;
  background-color: #fff;
}

header nav.recommendNav .navInner{
  background-color: #18368F;
}

header nav.recommendNav .cf::after{
  content:"";
  display: block;
  clear: both;
}

header nav.recommendNav ul.cf{
  width: 100%;
  display: table;
}

header ul.search{
  display: table;
}

header ul.search input[type="text"]{
  padding: .15rem;
  height: 40px !important;
}

header ul.search input[type="image"]{
  height: 40px !important;
}

header nav.recommendNav ul.search li:first-child{
  width: 90%;
}

header nav.recommendNav ul.search li:last-child{
  width: 10%;
}

header nav.recommendNav ul li{
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  text-align: center;
  letter-spacing: 0.05rem;
  background-color: #18368F;
  box-sizing:border-box;
}

header nav.recommendNav ul.cf li{
  border-right: .5px solid #fff;
}

header nav.recommendNav ul.cf li:last-child{
  border-right-color:#18368F;
}

header nav.recommendNav ul li.searchBtn img{
  width: 100%;
  border: none;
}

header nav.recommendNav ul li a{
  color: #fff;
  display: block;
  padding: .5rem .1rem .4rem;
}

header .headerInformation{
  background-color: #cc4c4b;
  color: #fff;
  padding: .2rem .2rem .1rem;
  box-sizing:border-box;
  letter-spacing: .05rem;
  text-align: center;
}

header .headerInformation span{
  background-color: #fff;
  color: #cc4c4b;
  text-align: center;
  padding: .1rem .3rem .05rem;
  line-height: 1;
  font-size: .8rem;
  letter-spacing: .05rem;
  margin-right: 1rem;
}

header input[type="button"],
header input[type="text"],
header input[type="submit"],
header input[type="password"],
header input[type="email"],
header input[type="number"],
header input[type="tel"],
header input[type="image"],
header textarea,
header select{
   -webkit-appearance: none;
   border-radius: 0;
	/* font-size:16px;
	 -webkit-transform: scale(0.8);
	 -ms-transform: scale(0.8);
	 transform: scale(0.8);*/
	 font-size:1rem !important;
   border-color: #18368F;
}

header nav.recommendNav .headerSearch{
  padding: .5rem;
  background-color: #18368F;
  border-top: .5px solid #fff;
}

.typeFixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9900;
  width: 100%;
}

.typeFixed .navInner{
  width: 96%;
  margin: 0 auto;
}

/**********************************
  18.6.15 ヘッダーナビ内のスタイル
**********************************/

.gnavi{
  width: 90%;
  right:0 !important;
  z-index: 10000;
  background: #18368F;
  border-radius : .5rem 0 0 .5rem / .5rem 0 0 .5rem ;

}

.gnavi ul{
  border-top: 1px solid #18368F;
    border-radius : .5rem 0 0 .5rem / .5rem 0 0 .5rem ;
    border-left: #18368F 1.5px solid;
    border-bottom: #18368F 1.5px solid;
}

.gnavi ul li{
  padding-right: .5rem;
  padding-left: .5rem;
  background-color: #2B4Db0;
  border-bottom: none;
}

.gnavi ul li.noB a{
  border-bottom: none;
}

.gnavi ul li a{
  /*border-top: #2B4Db0 1px solid;*/
  border-bottom: #fff 1px solid;
  border-color: rgba( 255,255,255,.5);
  padding: 15px 1rem 15px 1.5rem;
}


.gnavi ul li:first-child a{
  padding-left: 1rem;
}

.gnavi ul li:last-child{
      border-radius : 0 0 0 .5rem / 0 0 0 .5rem ;
}

.gnavi ul li,
.gnavi ul li a{
  font-size:100%;
}

.gnavi ul li a span{
  padding-right: .5rem;
  font-size:.7rem;
}

.gnavi p.topbtn{
  width: 90%;
  right: 0 !important;
  height: 55px;
  line-height: 54px;
  border-radius : .5rem 0 0 0 / .5rem 0 0 0 ;
  border-left: #18368F 1.5px solid;
  background-color: #18368F;
}

.gnavi ul li.gnaviTtl{
  padding: 5px 1.5rem;
  background-color: #18368F;
  border-bottom: none;
  /*border-top: #2B4Db0 1px solid;*/
  border-bottom: #18368F 1px solid;
  background-color: #18368F;
}

.gnavi ul li.gnaviTtl + li a{
  border-top: none;
}



/**/
