@charset "utf-8";

/****************************************
 * CSS for Event at Smart Phone Site
 * for viewport width device-width
 * 
 * @date 2018/07/06
 * @author NobleTraders Inc.
 ****************************************/

/* 検索詳細 */
.renewTopic #itemlist,
.renewTopic #brandlist,
.renewTopic #serieslist,
.renewTopic #dtllist,
.renewTopic #itemlist_topic,
.renewTopic #brandlist_topic,
.renewTopic #serieslist_topic,
.renewTopic #dtllist_topic{
	width: 85vw !important;
	padding: 10px !important;
	/*min-height:300px;*/
	max-width: 500px;
}
.renewTopic #itemlist a.close,
.renewTopic #brandlist a.close,
.renewTopic #serieslist a.close,
.renewTopic #dtllist a.close,
.renewTopic #fontlist a.close{
	font-size:150%;
}
.renewTopic #itemlist a.movePrev img,
.renewTopic #brandlist a.movePrev img,
.renewTopic #serieslist a.movePrev img,
.renewTopic #dtllist a.movePrev img,
.renewTopic #itemlist_topic a.movePrev img,
.renewTopic #brandlist_topic a.movePrev img,
.renewTopic #serieslist_topic a.movePrev img,
.renewTopic #dtllist_topic a.movePrev img{
	width: 1rem;
}
.renewTopic #itemlist ul.cat li,
.renewTopic #brandlist ul.cat li,
.renewTopic #serieslist ul.cat li,
.renewTopic #itemlist_topic ul.cat li,
.renewTopic #brandlist_topic ul.cat li,
.renewTopic #serieslist_topic ul.cat li{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.renewTopic .dtllist table td input[type=text]{
	box-sizing: border-box;
	width: 100%;
	border: #24429C 1px solid;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.renewTopic .dtllist table td input[type=text].yosan1,
.renewTopic .dtllist table td input[type=text].yosan2{
	width:35%;
}
.renewTopic .dtllist table td select {
	border: #24429C 1px solid;
	font-size: 14px;
	border-radius: 0!important;
	box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../images/common/select.png)  98% 15px no-repeat;
	font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.renewTopic .dtllist .check-select label {
	/*width:99%;*/
	width:auto;
	display:block;
	float:left;
	height: 40px;
	border-radius: 3px;
	border: #243F99 1px solid;
	box-sizing: border-box;
	padding: 12px;
	font-size: 15px;
	margin-bottom: 5px;
	margin-right:5px;
	color: #243F99;
	text-align:center;
	font-weight:normal;
	line-height:100%;
}
.renewTopic .dtllist .check-select label.checked{
	background-color: #243F99;
	color: #fff;
	font-weight:bold;
}
.renewTopic .dtllist .check-select input[type=checkbox] {
	display:none;
}
.renewTopic .dtllist a.btn {
	clear: both;
	display: block;
	width: 90%;
	/*height: 60px;*/
	height: 3rem;
	box-sizing: border-box;
	padding-top: 1rem;
	text-align: center;
	color: #fff;
	font-size: 18px;
	/*border: #24419B 1px solid;*/
	margin: 0 auto;
	background: #666;
	position: relative;
	line-height:1rem;
}
/*
.renewTopic .dtllist a.btn:hover {
	text-decoration: none;
  	color: #FFF;
	border: 1px solid #FFF;
	background: #0b3775;
	transition: 0.5s all ease;
}
*/

/*  ポップアップ */
.renewTopic #point,
.renewTopic #birthday,
.renewTopic #mailmaga,
.renewTopic #member,
.renewTopic #fontlist {
	width: 90%;
	text-align: left;
	background: #fff;
	border-top: #DDD 9px solid;
	border-bottom: #19378E 9px solid;
	border-radius: 6px;
	padding: 20px;
	margin: auto;
}
.renewTopic #itemlist,
.renewTopic #brandlist,
.renewTopic #serieslist,
.renewTopic #dtllist,
.renewTopic #itemlist_topic,
.renewTopic #brandlist_topic,
.renewTopic #serieslist_topic,
.renewTopic #dtllist_topic{
	position:absolute;
	right:2%;
	background: #fff;
	padding:5%;
	padding-bottom: 30px !important;
	z-index:9999999;
	border:1px solid #bbb;
	/*border:1px solid #243F99;*/
	border-radius: 3px;
}
.renewTopic #point ul li,
.renewTopic #birthday ul li,
.renewTopic #mailmaga ul li,
.renewTopic #member ul li {
	padding-bottom: 10px;
	text-indent: -15px;
	margin-left: 15px;
}
.renewTopic #point h3,
.renewTopic #birthday h3,
.renewTopic #mailmaga h3,
.renewTopic #member h3 {
	color: #666;
	font-size: 18px;
	border-bottom: #DDD 1px solid;
	margin-bottom: 15px;
}
.renewTopic #open {
	width: 100%;
	background: #fff;
	border-top: #DDD 9px solid;
	border-bottom: #19378E 9px solid;
	border-radius: 6px;
	text-align: center;
	padding: 20px;
	overflow-y: scroll;
}
.renewTopic #open img {
	width: 90%;
	margin: auto;
}
.renewTopic #open h3 {
	color: #666;
	font-size: 23px;
	border-bottom: #DDD 1px solid;
	margin-bottom: 15px;
}
.renewTopic #itemlist ul.nav,
.renewTopic #brandlist ul.nav,
.renewTopic #serieslist ul.nav,
.renewTopic #dtllist ul.nav,
.renewTopic #itemlist_topic ul.nav,
.renewTopic #brandlist_topic ul.nav,
.renewTopic #serieslist_topic ul.nav,
.renewTopic #dtllist_topic ul.nav {
	padding-bottom: 10px;
}
.renewTopic #itemlist ul.nav li,
.renewTopic #brandlist ul.nav li,
.renewTopic #serieslist ul.nav,
.renewTopic #dtllist ul.nav li,
.renewTopic #itemlist_topic ul.nav li,
.renewTopic #brandlist_topic ul.nav li,
.renewTopic #serieslist_topic ul.nav,
.renewTopic #dtllist_topic ul.nav li {
	display: inline;
	padding-right: 5px;
}
.renewTopic #itemlist ul.nav li:last-child,
.renewTopic #brandlist ul.nav li:last-child,
.renewTopic #serieslist ul.nav li:last-child,
.renewTopic #dtllist ul.nav li:last-child,
.renewTopic #itemlist_topic ul.nav li:last-child,
.renewTopic #brandlist_topic ul.nav li:last-child,
.renewTopic #serieslist_topic ul.nav li:last-child,
.renewTopic #dtllist_topic ul.nav li:last-child {
	font-weight: bold;
}
.renewTopic #itemlist ul.nav li::after,
.renewTopic #brandlist ul.nav li::after,
.renewTopic #serieslist ul.nav li::after,
.renewTopic #dtllist ul.nav li::after,
.renewTopic #itemlist_topic ul.nav li::after,
.renewTopic #brandlist_topic ul.nav li::after,
.renewTopic #serieslist_topic ul.nav li::after,
.renewTopic #dtllist_topic ul.nav li::after {
	content: ">";
	padding-left: 10px;
}
.renewTopic #itemlist ul.nav li:last-child::after,
.renewTopic #brandlist ul.nav li:last-child::after,
.renewTopic #serieslist ul.nav li:last-child::after,
.renewTopic #dtllist ul.nav li:last-child::after,
.renewTopic #itemlist_topic ul.nav li:last-child::after,
.renewTopic #brandlist_topic ul.nav li:last-child::after,
.renewTopic #serieslist_topic ul.nav li:last-child::after,
.renewTopic #dtllist_topic ul.nav li:last-child::after {
	content: none;
}
/*
.renewTopic #itemlist ul.cat,
.renewTopic #brandlist ul.cat,
.renewTopic #serieslist ul.cat,
.renewTopic #dtllist ul.cat,
.renewTopic #itemlist_topic ul.cat,
.renewTopic #brandlist_topic ul.cat,
.renewTopic #serieslist_topic ul.cat,
.renewTopic #dtllist_topic ul.cat {
	height: 270px !important;
	overflow-y: scroll;
	margin-bottom: 30px;
}
*/
.renewTopic #itemlist ul.cat li,
.renewTopic #brandlist ul.cat li,
.renewTopic #serieslist ul.cat li,
.renewTopic #dtllist ul.cat li,
.renewTopic #itemlist_topic ul.cat li,
.renewTopic #brandlist_topic ul.cat li,
.renewTopic #serieslist_topic ul.cat li,
.renewTopic #dtllist_topic ul.cat li {
	display: block;
	width: 99%;
	height: 40px;
	border-radius: 3px;
	border:#243F99 1px solid;
	box-sizing: border-box;
	padding: 12px 10px;
	font-size: 15px;
	margin-bottom: 5px;
	color: #243F99;
	line-height:100%;
}
.renewTopic #itemlist ul.cat li strong,
.renewTopic #brandlist ul.cat li strong,
.renewTopic #serieslist ul.cat li strong,
.renewTopic #dtllist ul.cat li strong,
.renewTopic #itemlist_topic ul.cat li strong,
.renewTopic #brandlist_topic ul.cat li strong,
.renewTopic #serieslist_topic ul.cat li strong,
.renewTopic #dtllist_topic ul.cat li strong {
	line-height:100%
}
.renewTopic #itemlist ul.catidx li,
.renewTopic #brandlist ul.catidx li,
.renewTopic #serieslist ul.catidx li,
.renewTopic #dtllist ul.catidx li,
.renewTopic #itemlist_topic ul.catidx li,
.renewTopic #brandlist_topic ul.catidx li,
.renewTopic #serieslist_topic ul.catidx li,
.renewTopic #dtllist_topic ul.catidx li {
	float: left;
	border: 1px solid #243F99;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 2px;
	color: #243F99;
	margin: 4px;
}
.renewTopic #itemlist ul.catidx li.select,
.renewTopic #brandlist ul.catidx li.select,
.renewTopic #serieslist ul.catidx li.select,
.renewTopic #dtllist ul.catidx li.select,
.renewTopic #itemlist_topic ul.catidx li.select,
.renewTopic #brandlist_topic ul.catidx li.select,
.renewTopic #serieslist_topic ul.catidx li.select,
.renewTopic #dtllist_topic ul.catidx li.select {
	background:#243F99;
	color:#fff;
}
.renewTopic #itemlist ul.cat::-webkit-scrollbar,
.renewTopic #brandlist ul.cat::-webkit-scrollbar,
.renewTopic #serieslist ul.cat::-webkit-scrollbar,
.renewTopic #dtllist ul.cat::-webkit-scrollbar,
.renewTopic #itemlist_topic ul.cat::-webkit-scrollbar,
.renewTopic #brandlist_topic ul.cat::-webkit-scrollbar,
.renewTopic #serieslist_topic ul.cat::-webkit-scrollbar,
.renewTopic #dtllist_topic ul.cat::-webkit-scrollbar {
	width: 12px;
}
.renewTopic #itemlist ul.cat::-webkit-scrollbar-track,
.renewTopic #brandlist ul.cat::-webkit-scrollbar-track,
.renewTopic #serieslist ul.cat::-webkit-scrollbar-track,
.renewTopic #dtllist ul.cat::-webkit-scrollbar-track,
.renewTopic #itemlist_topic ul.cat::-webkit-scrollbar-track,
.renewTopic #brandlist_topic ul.cat::-webkit-scrollbar-track,
.renewTopic #serieslist_topic ul.cat::-webkit-scrollbar-track,
.renewTopic #dtllist_topic ul.cat::-webkit-scrollbar-track {
	background: #DDD;
}
.renewTopic #itemlist ul.cat::-webkit-scrollbar-thumb,
.renewTopic #brandlist ul.cat::-webkit-scrollbar-thumb,
.renewTopic #serieslist ul.cat::-webkit-scrollbar-thumb,
.renewTopic #dtllist ul.cat::-webkit-scrollbar-thumb,
.renewTopic #itemlist_topic ul.cat::-webkit-scrollbar-thumb,
.renewTopic #brandlist_topic ul.cat::-webkit-scrollbar-thumb,
.renewTopic #serieslist_topic ul.cat::-webkit-scrollbar-thumb,
.renewTopic #dtllist_topic ul.cat::-webkit-scrollbar-thumb {
	background: #19378F;
}

.renewTopic .instructions{
	font-size:85%;
	margin:15px 0;
}

.renewTopic .pnavi ul li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}
.renewTopic .pnavi ul li.now {
	padding-left: 0;
	padding-right: 0;
	margin-left: 10px;
	margin-right: 10px;
}

/***********************************
 * @see /css/lity_sp.css start
 ***********************************/
/*
.renewTopic .lity-close {
	z-index: 9994;
	width: 35px;
	height: 35px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-appearance: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 0;
	color: #fff;
	font-style: normal;
	font-size: 35px;
	font-family: Arial, Baskerville, monospace;
	line-height: 35px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	border: 0;
	background: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.renewTopic .lity-close::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.renewTopic .lity-close:hover,
.renewTopic .lity-close:focus,
.renewTopic .lity-close:active,
.renewTopic .lity-close:visited {
	text-decoration: none;
	text-align: center;
	padding: 0;
	color: #fff;
	font-style: normal;
	font-size: 35px;
	font-family: Arial, Baskerville, monospace;
	line-height: 35px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	border: 0;
	background: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.renewTopic .lity-close:active {
	top: 1px;
}
*/
/***********************************
 * @see /css/lity_sp.css end
 ***********************************/

/***********************************
 * for SetSales append start
 ***********************************/
.renewTopic #t_header{
	max-width: 100%;
}
.renewTopic #t_header table tr th img,
.renewTopic #t_header table tr td img{
	vertical-align: bottom;
}
.renewTopic span.rank{
	font-size: calc(80% + 0.5vw);
}
.renewTopic .cart-toolbar .checkBox {
	display:inline-block;
}
.renewTopic .cart-toolbar .checkBox::after {
	-webkit-transition: border-color .1s linear;
	transition: border-color .1s linear;
	display: inline-block;
	margin-left: 0;
	margin-top: -5px;
	width: 1.2em;
	height: 1.2em;
	border: 2px solid #ddd;
	content: '';
	vertical-align:middle;
}
.renewTopic .cart .setsales-cart{
	display: table;
	width: 100%;
	margin-top: 1.2rem;
	line-height: 1.5rem;
}
.renewTopic .cart .checkArea{
	display: table-cell;
	vertical-align: middle;
}
.renewTopic .cart .checkArea{
	width: 10%;
}
.renewTopic .cart .checkArea .checkBoxWrap{
	padding-left: 2em;
}
.renewTopic .cart .checkArea .checkBoxWrap .checkBox:before{
	left: 2em;
}
.renewTopic .cart .checkBoxWrap{
	position: relative;
}
.renewTopic .cart .checkBoxWrap input[type="checkbox"]{
	display: none;
}
.renewTopic .cart .checkBox::before {
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	position: absolute;
	top: -1em;
	left: -0.2em;
	display: block;
	width: 1.5em;
	height: 2em;
	border-right: 7px solid #18368f;
	border-bottom: 7px solid #18368f;
	content: '';
	opacity: 0;
	z-index: 200;
	-webkit-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
	transform: rotate(45deg) ;
}
.renewTopic .cart .checkBox::after {
	-webkit-transition: border-color .1s linear;
	transition: border-color .1s linear;
	/*position: absolute;
	top: 50%;
	left: 0%;*/
	display: block;
	margin-left: -10px;
	margin-top: -10px;
	width: 2em;
	height: 2em;
	border: 2px solid #ddd;
	content: '';
}
.renewTopic .cart input[type="checkbox"]:checked + .checkBox::after {
	border-color: #18368f;
}
.renewTopic .cart input[type="checkbox"]:checked + .checkBox::before {
	opacity: 1;
	border-color: #18368f;
}
.renewTopic .cart .selectArea{
	width: 60%;
	padding-left: 1em;
}
.renewTopic .cart select {
	border: #24429C 1px solid;
	font-size: 14px !important;
	border-radius: 0!important;
	box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
	padding-right: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(/images/common/select.png)  96% 15px no-repeat;
	font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.renewTopic .cart-toolbar .submitbtn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #FF8000 url(/images/common/cartbtn.jpg) center 50% no-repeat;
	background-size: contain;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border: none;
	width: 100%;
}
.renewTopic .cart-toolbar-fixed {
	text-align:center;
	z-index:999;
	position: fixed;
	padding: 10px;
	bottom:10px;
	right: 90px;
	background-color: white;
	width: 60%;
	border: #18368F 1px solid;
}
.renewTopic .cart-toolbar-fixed p{
	display: none;
	font-size: 70%;
}
.renewTopic .cart-toolbar-fixed .submitbtn {
	height: 50%;
}
.renewTopic .setsales-group{
	position: relative;
	padding: 4.5px;
}
.renewTopic .setsales-group > h2.closed::after{
	position: absolute;
	top: 0.1rem;
	right: 5%;
	content: "[＋]";
	font-weight: bold;
	font-size: 1rem;
	color: #fff;
}
.renewTopic .setsales-group > h2:not(.closed)::after{
	position: absolute;
	top: 0.1rem;
	right: 5%;
	content: "[－]";
	font-weight: bold;
	font-size: 1rem;
	color: #fff;
}
.renewTopic .setsales-group .itemline:last-child{
	border-bottom: none;
}
.renewTopic .setsales-group.group-a {
	border: #5cb85c 1.5px solid;
}
.renewTopic .setsales-group.group-a h2{
	border: none;
	color: #fff;
	background-color: #5cb85c;
	font-weight: bold;
}
.renewTopic .setsales-group.group-b {
	border: #f0ad4e 1.5px solid;
}
.renewTopic .setsales-group.group-b h2{
	border: none;
	color: #fff;
	background-color: #f0ad4e;
	font-weight: bold;
}
.renewTopic .setsales-group.group-c {
	border: #a94442 1.5px solid;
}
.renewTopic .setsales-group.group-c h2{
	border: none;
	color: #fff;
	background-color: #a94442;
	font-weight: bold;
}

/***********************************
 * for SetSales append end
 ***********************************/

/***********************************
 * for other template append start
 ***********************************/
.renewTopic #t_header_banner{
	text-align: center;
	margin-top:40px;
	margin-bottom:20px;
	margin: 0 auto;
}
/* クリスマス用カスタマイズCSS */
.renewTopic #f_banner {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	margin: 0;
}
.renewTopic #f_banner li {
	display: inline;
	padding: 0;
	padding-bottom: 10px;
	float: left;
	font-size: 12px;
	text-align: center;
	/*width: 185px;*/
	width: 43%;
	height: auto;
	margin: 10px 10px 0;
}
.renewTopic #f_banner img {
	border: none;
	margin: 1px;
	margin-bottom: 3px;
	width: 100%;
	height: auto;
}
.renewTopic #t_backnumber{
	padding-bottom: 20px;
	margin: 0 auto;
}
.renewTopic #t_backnumber table{
	width: 100% !important;
	height: auto !important;
}
.renewTopic #t_backnumber table tr td > img{
	display: none;
	/*
	width: 100% !important;
	height: auto !important;
	*/
}
/* メンズ用カスタマイズCSS */
.renewTopic ul#mens_banner {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.renewTopic ul#mens_banner li {
	margin-top:20px;
	width: 46% !important;
	height:auto !important;
	padding-left:10px !important;
}
.renewTopic ul#mens_banner li a{
	font-size:1rem;
}
.renewTopic ul#mens_banner li img{
	width: 100%;
	height:auto;
}
/* Girly用カスタマイズCSS */
.renewTopic ul#girly_banner {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.renewTopic ul#girly_banner li {
	margin-top:20px;
	width: 46% !important;
	height:auto !important;
	padding-left:10px !important;
}
.renewTopic ul#girly_banner li a{
	font-size:1rem;
}
.renewTopic ul#girly_banner li img{
	width: 100%;
	height:auto;
}
/* バイヤー用カスタマイズCSS */
.renewTopic ul.buyer_banner {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.renewTopic ul.buyer_banner li {
	/*margin-top:5px !important;
	margin-bottom:0 !important;*/
	margin-top: 20px;
	/*width: 100% !important;*/
	width: 46% !important;
	height:auto !important;
	/*padding-left:5px !important;
	padding-right:5px !important;*/
	padding-left:10px !important;
}
.renewTopic ul.buyer_banner li a{
	font-size:1rem;
}
.renewTopic ul.buyer_banner li img{
	/*width: 260px;*/
	width: 100%;
	height:auto;
}
/* Luxury用カスタマイズCSS */
/*
.renewTopic #luxury_banner{
	margin-bottom: 20px;
}
*/
.renewTopic #luxury_banner table{
	width: 100% !important;
	height: auto !important;
}
.renewTopic #luxury_banner table tr td hr{
	width: 100% !important;
	height: auto !important;
}
.renewTopic #luxury_banner ul.luxury_banner {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.renewTopic #luxury_banner ul.luxury_banner li{
	/*width: 100% !important;*/
	width: 46% !important;
	height: auto !important;
	/*margin: 0 auto !important;*/
	margin-top: 20px;
	padding-left:10px !important;
}
.renewTopic #luxury_banner ul.luxury_banner li img{
	/*width:260px !important;*/
	width: 100%;
	height:auto !important;
}
.renewTopic .all_backnumber{
	margin-top:10px;
	text-align:center;
	margin-bottom:75px;
}
.renewTopic #show_all_backnumber{
	text-decoration:none;
}
/* 浜裕子先生特集用カスタマイズCSS */
.renewTopic ul#y_hama_banner {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.renewTopic ul#y_hama_banner li {
	margin-top:20px;
	width: 46% !important;
	height:auto !important;
	padding-left:10px !important;
}
.renewTopic ul#y_hama_banner li a{
	font-size:1rem;
}
.renewTopic ul#y_hama_banner li img{
	width: 100%;
	height:auto;
}
/***********************************
 * for other template append end
 ***********************************/

/***********************************
 * for landscape append start
 ***********************************/

/* メンズ用カスタマイズCSS */
.renewTopic.landscape ul#mens_banner li {
	width: 23% !important;
}
/* Girly用カスタマイズCSS */
.renewTopic.landscape ul#girly_banner li {
	width: 23% !important;
}
/* バイヤー用カスタマイズCSS */
.renewTopic.landscape ul.buyer_banner li {
	width: 48% !important;
}
/* Luxury用カスタマイズCSS */
.renewTopic.landscape #luxury_banner ul.luxury_banner li{
	width: 50% !important;
}
/* 浜裕子先生特集用カスタマイズCSS */
.renewTopic.landscape ul#y_hama_banner li {
	width: 23% !important;
}

/***********************************
 * for landscape append end
 ***********************************/
