//-==========================
  extends
//-==========================
extends ./_layouts/layout-common-sp.pug


//-==========================
  view
//-==========================
block contents
  section#motherscup200407
    .keiVisual
      .deco01
      .deco02
      .deco03
      .main
        .caption 
          p 穏やかで優しいお母さんに似合う柄を考えたり、お茶するのが楽しみと言ってくれる笑顔を思い浮かべたり、忙しいお母さんの休憩時間がちょっと幸せになることを願って、今年の贈り物を選んでみませんか？
    .goods
      .bg.bgPink
      .brandTitle-wedgwood
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-wedgwood.clearfix
              p.brandbgPink ブランド順位#[span.num 1]位
            .nameWrapper
              p.brandName #[span.brandBold ウェッジウッド]（イギリス）
              p.caption ウェッジウッド（Wedgwood）は「英国陶工の父」と呼ばれるジョサイア・ウェッジウッドにより1759年に創立された洋食器ブランドです。
              p.caption イギリス王室をはじめ各国の王侯貴族たちに愛用されたことで名声を確実なものとし、現代においてもその気高く美しい上質な製品は世界中の人々を魅了し続けています。
          .auto-003267503601-data.picBox.clearfix
            .pic-wedgwood01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ワイルドストロベリー
                p.norm ティーカップ＆ソーサー（ピオニー）
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 55,775] 円
                p.discount 30% OFF
            p.caption 世界中で大人気、幸せを呼ぶワイルドストロベリー柄。#[br]ティータイムにくつろぎを添えるシリーズです。紅茶をおいしく飲むために考え出されたシェイプの「ピオニー」。リーとはまた違った表情があります。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/003267503601/") 詳しくはこちら
    
        .rankOther.bgbandPink
          .auto-009157417877-data.article
            .picBox.pic-wedgwood02
              .picNum02
            .txtBox
              p.product バタフライブルーム
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]ブルー／ピンク
              p.txtNormal 特別価格
              p.special 税込 #[span 5,280] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/009157417877/") 詳しくはこちら
          .auto-009157420810-data.article
            .picBox.pic-wedgwood03
              .picNum03
            .txtBox
              p.product アレクサンドラ
              p.txtNormal.borderLine シャンパンゴールド #[br]ティーカップ＆ソーサー（リー）
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 8,250] 円
              p.discount 25% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/009157420810/") 詳しくはこちら
          .auto-009157416556-data.article
            .picBox.pic-wedgwood04
              .picNum04
            .txtBox
              p.product カッコー
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]180cc グリーン
              p.txtNormal 特別価格
              p.special 税込 #[span 5,280] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/009157416556/") 詳しくはこちら
          .auto-003267796578-data.article
            .picBox.pic-wedgwood05
              .picNum05
            .txtBox
              p.product スウィートプラム
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー（リー）
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 6,187] 円
              p.discount 25% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/003267796578/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-herend
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-herend.clearfix
              p.brandbgSky ブランド順位#[span.num 2]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold ヘレンド]（ハンガリー）
              p.caption ハンガリーのブタペストから南西へ110km、牧歌的な村の名前がヘレンドです。ここにあった小さな陶器工場をモール・フィッシャーが買い取ったのが1839年。以来、磁器生産に切り替え、テーブルウェアの製作に力を注ぎます。1862年、オーストリアの女帝マリア・テレジアが育成したウィーン窯が閉鎖することになり、そのデザインの継承を許されたヘレンドは、一躍ヨーロッパの名窯となりました。#[br]1866年、当時のオーストリア皇帝フランツ・ヨゼフがハンガリー皇帝を兼ねるようになると、宮廷での宴をヘレンドのテーブルウェアが彩ることになります。貴族の中の貴族と呼ばれたハプスブルグ家の保護のもとウィーンをはじめヨーロッパ各国の王侯貴族を魅了しました。こうして隆盛を極めたオーストリア宮廷と共に、ヘレンドは大きく発展していきます。#[br]現在も造形から絵付けにいたるまで全てハンドメイドという伝統を守りながら、その一方で新しいモチーフを次々と生み出しています。
          .auto-002400724000-data.picBox.picSky.clearfix
            .pic-herend01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ウィーンのバラ（VRH）
                p.norm ティーカップ＆ソーサー 200cc
                p.money.fontbold #[span.special ネット店限定価格] 税込#[span.price.fontbold 13,200] 円
                p.discount 40% OFF
            p.caption もとはオーストリアのウィーン窯（現在のアウガルテン窯）でつくられていたもので、フランツ・ヨセフの美しい妃エリザベートにも愛されてたパターン。当時はハプスブルグ家だけで使われていたといいます。ウィーン窯が一時閉鎖した時にヘレンドに受け継がれ、以来ロングセラーに。ピンクで描かれたバラや立体的に配されたバラにグリーンのラインをあしらった図柄はとても高貴な可愛らしさに満ちており、見る人をとりこにするシリーズです。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/002400724000/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-000100724000-data.article
            .picBox.pic-herend02
              .picNum02
            .txtBox
              p.product アポニーグリーン
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200cc
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 11,880] 円
              p.discount 40% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/000100724000/") 詳しくはこちら
          .auto-041300730000-data.article
            .picBox.pic-herend03
              .picNum03
            .txtBox
              p.product ウィーンのバラ ピンク
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー（兼用） 200cc
              p.txtNormal 特別価格
              p.special 税込 #[span 21,780] 円
              p.discount 10% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/041300730000/") 詳しくはこちら
          .auto-045100724000-data.article
            .picBox.pic-herend04
              .picNum04
            .txtBox
              p.product ブーケコルネリア
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200cc
              p.txtNormal 特別価格
              p.special 税込 #[span 13,860] 円
              p.discount 30% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/045100724000/") 詳しくはこちら
          .auto-042600724000-data.article
            .picBox.pic-herend05
              .picNum05
            .txtBox
              p.product 薔薇の花飾り
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200cc
              p.txtNormal 特別価格
              p.special 税込 #[span 13,860] 円
              p.discount 30% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/042600724000/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-albert
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-albert.clearfix
              p.brandbgPink ブランド順位#[span.num 3]位
            .nameWrapper
              p.brandName #[span.brandBold ロイヤル・アルバート]#[br]（イギリス）
              p.caption ロイヤルアルバート（Royal Albert）は、1896年、トーマス・ワイルドとトーマス・クラーク・ワイルド親子がイギリス陶業の中心地ストーク・オン・トレントにおいて創業。ブランド名は創業者が英国王室を愛するがゆえに、ヴィクトリア女王の夫アルバート公と女王夫妻の孫アルバート・ジョージ王子（のちのジョージ5世）にちなんで「アルバート」と名付けられました。
              p.caption 創業の翌年1897年にはビクトリア女王即位60周年記念の記念品を依頼され、1904年に「ロイヤル」の称号を得ました。美しく優雅なシェイプ、鮮やかな色どりのフローラル柄、惜しげもなく使われた色彩など、「最も英国的な王室御用達のテーブルウェア」として世界50カ国以上の国々で今日も愛され続けています。
          .auto-011000100000-data.picBox.clearfix
            .pic-albert01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold オールドカントリーローズ
                p.norm ティーカップ＆ソーサー
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 3,960] 円
                p.discount 10% OFF
            p.caption 色鮮やかな薔薇の花々と、ゴールドの縁取りが調和した英国的な気品漂うティーカップ＆ソーサー。#[br]オールドカントリーローズシリーズは、きれいなピュアホワイトのボーンチャイナに描かれた花模様はロイヤルアルバート最大の魅力。鮮やかなバラと、筆を使わずにスポンジでたたいて付着させるという凝ったロイヤルアルバート独特のスティプル手法で装飾されたゴールドは、クラシックなシェイプと見事に調和し、実に英国的な気品を漂わせています。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/011000100000/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-070158701880-data.article
            .picBox.pic-albert02
              .picNum02
            .txtBox
              p.product ミランダ・カー#[br]コレクション
              p.txtNormal.borderLine フレンドシップ#[br]ティーカップ＆ソーサー
              p.txtNormal 特別価格
              p.special 税込 #[span 4,752] 円
              p.discount 10% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/070158701880/") 詳しくはこちら
          .auto-652383739376-data.article
            .picBox.pic-albert03
              .picNum03
            .txtBox
              p.product ニューカントリー#[br]ローズ
              p.txtNormal.borderLine ヴィンテージ#[br]ティーカップ＆ソーサー
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 3,520] 円
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/652383739376/") 詳しくはこちら
          .auto-011000300000-data.article
            .picBox.pic-albert04
              .picNum04
            .txtBox
              p.product レディーカーライル
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 3,234] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/011000300000/") 詳しくはこちら
          .auto-070158714559-data.article
            .picBox.pic-albert05
              .picNum05
            .txtBox
              p.product キャンディー#[br]コレクション
              p.txtNormal.borderLine ラブライラック#[br]3ピースセット
              p.txtNormal 特別価格
              p.special 税込 #[span 10,890] 円
              p.discount 10% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/070158714559/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-arabia
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-arabia.clearfix
              p.brandbgSky ブランド順位#[span.num 4]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold アラビア]（フィンランド）
              p.caption 北欧を代表する窯として愛され続けているフィンランドの陶磁器ブランド「アラビア（ARABIA）」は、デザイン性、芸術性に優れながら使い勝手に配慮した実用的な陶磁器の製作を続けています。
              p.caption 
              p.caption カイ・フランク、ビルイエル・カイピアイネン、ヘイッキ・オルボラなど、世界屈指のデザイナー達が個々の感性を自由に表現した作品は、常に世間を魅了しています。際立ってシンプルなものから、華やかなロマン溢れる作品まで、オリジナリティー豊かな製品を幅多く揃えているのもアラビアならではの特徴です。
          .auto-641180008947-data.picBox.picSky.clearfix
            .pic-arabia01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold パラティッシ イエロー 
                p.norm ティーカップ＆ソーサー 280cc
                p.money.fontbold #[span.special ネット店限定価格] 税込#[span.price.fontbold 5,360] 円
                p.discount 42% OFF
            p.caption 「paratiisi（パラティッシ）」シリーズ#[br]植物のしっとりとした上品な美しさを表現し、どこか大人びた印象を与えてくれる図柄は、陰影のタッチまで細かくまるで絵画のように表現されています。形状はあくまでシンプルで、日々使う食器として実用性を重視したデザインとなっています。#[br]「フィンランド陶芸界のプリンス」と称されるBirger Kaipiainen（カイピアンネン）がデザインしたパラティッシシリーズは1969年に制作されて以来、国境を越え多くの人に広く愛され続けています。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/641180008947/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-641180018466-data.article
            .picBox.pic-arabia02
              .picNum02
            .txtBox
              p.product 24h トゥオキオ#[br]TUOKIO
              p.txtNormal.borderLine カップ＆ソーサー 260cc
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 3,718] 円
              p.discount 38% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/641180018466/") 詳しくはこちら
          .auto-641180100639-data.article
            .picBox.pic-arabia03
              .picNum03
            .txtBox
              p.product スンヌンタイ#[br]Sunnuntai
              p.txtNormal.borderLine ティーカップ＆ソーサー 280cc
              p.txtNormal 特別価格
              p.special 税込 #[span 4,950] 円
              p.discount 10% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/641180100639/") 詳しくはこちら
          .auto-641180006677-data.article
            .picBox.pic-arabia04
              .picNum04
            .txtBox
              p.product パラティッシ ブラック
              p.txtNormal.borderLine ティーカップ＆ソーサー 280cc
              p.txtNormal 特別価格
              p.special 税込 #[span 6,600] 円
              p.discount 20% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/641180006677/") 詳しくはこちら
          .auto-641180008983-data.article
            .picBox.pic-arabia05
              .picNum05
            .txtBox
              p.product パラティッシ パープル 
              p.txtNormal.borderLine ティーカップ＆ソーサー 280cc
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 6,232] 円
              p.discount 33% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/641180008983/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-rocopenhagen
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-rocopenhagen.clearfix
              p.brandbgPink ブランド順位#[span.num 5]位
            .nameWrapper
              p.brandName #[span.brandBold ロイヤル・#[br]コペンハーゲン]#[br]（デンマーク）
              p.caption 青と白の世界に吸い寄せられそうになる、デンマークの陶磁器メーカー「ロイヤルコペンハーゲン（Royal Copenhagen）」。1770年代初め、科学者ミューラーの手によってデンマーク初の磁器焼成に成功し、その歴史は始まりました。素焼きの器に色を付け、上薬をかけて高温で焼き上げる「アンダーグレース技法」の陶器を手がけ、それらは19世紀のヨーロッパの上流階級の人々に愛用され、広く知られるようになりました。その後デンマーク王室の暖かな加護を受けて育ちました。#[br]それぞれの時代を反映しながら創り出されてきたロイヤルコペンハーゲンの製品は、長年培われた最高の工芸技術で今も伝えられております。日本の有田焼の影響もあり、コペンハーゲンの伝統であるコバルトブルーの唐草模様は繊細で格調高い職人達の心意気を強く感じます。#[br]ロイヤルコペンハーゲンのフィギュリンは、長い歴史があります。1889年に最初のフィギュリンがパリの万博公園で発表されて以来、熟練の職人たちによるクラフトマンシップに支えられて、現在まで変わらぬ技法で制作され続けています。伝統を受け継ぎながら、毎年新たなフィギュリンが発表されております。また、その心温まる表情・しぐさには定評があります。
          .auto-000001102080-data.picBox.clearfix
            .pic-rocopenhagen01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ブルー フルーテッド #[br]ハーフレース
                p.norm ティーカップ＆ソーサー 200cc
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 15,400] 円
                p.discount 30% OFF
            p.caption ロイヤルコペンハーゲンといえば、ただちにブルーフルーテッドの模様を思い描く人が多いに違いありません。1775年以来、作り続けられているロングセラーです。「フルーテッド」とは縦じまのこと。縁の処理の違いにより、ブルーフルーテッドには3種類のバリエーションがあります。エンボス加工（浮き彫り）が施されているのがこのシリーズで、「ハーフレース」と呼ばれています。涼しげで、まるで霧を含んだように見えるやわらかな発色が魅力的です。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/000001102080/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-000001104080-data.article
            .picBox.pic-rocopenhagen02
              .picNum02
            .txtBox
              p.product プリンセスブルー
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200cc
              p.txtNormal 特別価格
              p.special 税込 #[span 6,600] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/000001104080/") 詳しくはこちら
          .auto-000001101064-data.article
            .picBox.pic-rocopenhagen03
              .picNum03
            .txtBox
              p.product ブルー#[br]フルーテッド プレイン
              p.txtNormal.borderLine カップ＆#[br]ソーサー 240cc
              p.txtNormal 特別価格
              p.special 税込 #[span 9,900] 円
              p.discount 10% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/000001101064/") 詳しくはこちら
          .auto-000002381086-data.article
            .picBox.pic-rocopenhagen04
              .picNum04
            .txtBox
              p.product ブルー#[br]フルーテッド メガ
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 280cc
              p.txtNormal 特別価格
              p.special 税込 #[span 10,560] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/000002381086/") 詳しくはこちら
          .auto-570514073120-data.article
            .picBox.pic-rocopenhagen05
              .picNum05
            .txtBox
              p.product ブロムスト
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]フクシア 220ml 
              p.txtNormal 特別価格
              p.special 税込 #[span 8,800] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/570514073120/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-aynsley
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-aynsley.clearfix
              p.brandbgSky ブランド順位#[span.num 6]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold エインズレイ]（イギリス）
              p.caption 良質の石灰と陶土に恵まれたイギリスのスタフォードシャーに、1775年、炭坑経営者だったジョン・エインズレイ氏が創設したのが始まりです。当初は、銅版彫刻を使ったプリント絵付けで製造したビアマグが中心で、絵柄の主題はスポーツや政治的イベントを扱ったものでした。1861年、2代目ジョン・エインズレイ2世は、その地に現在も文化遺産として残る新工場を設立し、積極的にファイン・ボーンチャイナの制作に着手しました。「最高の人のための最高のもの」をモットーに、優れた技術者の養成に心血を注ぎました。
              p.caption 
              p.caption 以来、きめ細やかな肌を持つファインボーンチャイナは、多くの皇室や貴族たちに愛され続けています。エインズレイと英国王室の関係は深く、チャールズ皇太子のご成婚時の引出物としても使用されました。初代から脈々と受け継がれた歴史、伝統。それが、すぐれたクラフトマンシップを育み、 丁寧なものづくりを続けるエインズレイの作品です。
              p.caption 
              p.caption エインズレイの作品は、美しく繊細で鮮やかな色使いが特徴です。また、カラーバリエーションが豊富なので色違いのコレクションも楽しめます。
          .auto-458217646078-data.picBox.picSky.clearfix
            .pic-aynsley01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold イングリッシュローズ
                p.norm ティーカップ＆ソーサー（アセンズ）
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 7,700] 円
                p.discount 30% OFF
            p.caption 美しい貴婦人を意味するイングリッシュローズ。#[br]1969年にイギリスのバラ育苗家デビッド・オースチン氏によってイングリッシュローズが生み出されて以来、瞬く間に世界中のバラ愛好家をとりこにしてきました。#[br]このイングリッシュローズをモチーフに、1900年代のエインズレイの名デザイナー ジャック・ショー氏が原画を描き、この原画を元に現代のデザイナーによって2013年に復刻いたしました。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/458217646078/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-458217646105-data.article
            .picBox.pic-aynsley02
              .picNum02
            .txtBox
              p.product コテージガーデン
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]（オーバン） ピンク 180ml
              p.txtNormal 特別価格
              p.special 税込 #[span 5,775] 円
              p.discount 30% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/458217646105/") 詳しくはこちら
          .auto-458217646042-data.article
            .picBox.pic-aynsley03
              .picNum03
            .txtBox
              p.product エリザベスローズ
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]（アセンズ） レッド 200ml
              p.txtNormal 特別価格
              p.special 税込 #[span 7,700] 円
              p.discount 30% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/458217646042/") 詳しくはこちら
          .auto-458217646014-data.article
            .picBox.pic-aynsley04
              .picNum04
            .txtBox
              p.product エリザベスローズ#[br]ブルー 
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]（オーバン） 180ml
              p.txtNormal 特別価格
              p.special 税込 #[span 3,300] 円
              p.discount 40% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/458217646014/") 詳しくはこちら
          .auto-458217646046-data.article
            .picBox.pic-aynsley05
              .picNum05
            .txtBox
              p.product ペンブロック
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]（アセンズ） コバルト 200ml
              p.txtNormal 特別価格
              p.special 税込 #[span 4,950] 円
              p.discount 40% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/458217646046/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-meissen
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-meissen.clearfix
              p.brandbgPink ブランド順位#[span.num 7]位
            .nameWrapper
              p.brandName #[span.brandBold マイセン]（ドイツ）
              p.caption 1709年、ヨーロッパで初めて白磁の製造に成功したのがマイセン窯。それまで磁器は東洋から輸入されたものばかりで、王侯貴族のみが手にできる大変な貴重品でした。#[br]当時のザクセン（今のドイツ）侯であったアウグストの命令により9年の歳月をかけて研究された結果、白い磁器が誕生。以来マイセンはヨーロッパ最古の窯として、世界的な名声を得ています。
              p.caption 「青い双剣」と呼ばれる剣のマークは、その秘法が外にもれないようにするという意味があるとか。今でも絵付けは誇り高き職人たちによってすべて手描きで行われており、その伝統に培われた美しさは広く人々の憧れとなっています。
          .auto-405167421535-data.picBox.clearfix
            .pic-meissen01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ロイヤルブロッサム
                p.norm ティーカップ＆ソーサー 150ml
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 8,800] 円
                p.discount 20% OFF
            p.caption 1739年に白いガマズミの花をモチーフに作られた立体的な「スノーボール装飾」を、テーブルウェアの平面レリーフに移した新しいシリーズ「ロイヤルブロッサム」。#[br]18世紀に生まれたロココの華、「スノーボール装飾」は、マイセン磁器の創始者、アウグスト強王の息子、アウグスト3世が最愛の王妃、マリア・ヨゼファへ「枯れない花を贈りたい」という強い願いから誕生しました。#[br]以来、マイセンを代表する装飾として今日まで作り続けられています。#[br]スタイリッシュな白磁に咲く緻密な花模様は、上品で優雅であった高貴な時代を彷彿とさせ、マイセンの至高の匠の技が現代の食卓を華麗に演出します。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/405167421535/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-000000029633-data.article
            .picBox.pic-meissen02
              .picNum02
            .txtBox
              p.product 波の戯れホワイト
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 170cc
              p.txtNormal 特別価格
              p.special 税込 #[span 8,800] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/000000029633/") 詳しくはこちら
          .auto-080100100633-data.article
            .picBox.pic-meissen03
              .picNum03
            .txtBox
              p.product ブルーオニオン スタイル
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 150cc
              p.txtNormal 特別価格
              p.special 税込 #[span 21,560] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/080100100633/") 詳しくはこちら
          .auto-082500923633-data.article
            .picBox.pic-meissen04
              .picNum04
            .txtBox
              p.product ホワイトマイセン
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 150cc
              p.txtNormal 特別価格
              p.special 税込 #[span 23,100] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/082500923633/") 詳しくはこちら
          .auto-061470128633-data.article
            .picBox.pic-meissen05
              .picNum05
            .txtBox
              p.product 青い花
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 170cc
              p.txtNormal 特別価格
              p.special 税込 #[span 22,000] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/061470128633/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-augarten
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-augarten.clearfix
              p.brandbgSky ブランド順位#[span.num 8]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold アウガルテン]#[br]（オーストリア）
              p.caption 1718年ハプスブルク家が全盛を誇った時代にウィーン磁器工房は誕生しました。アウガルテン窯の始まりです。ここは世界で初めてコーヒーカップを磁器で作った窯でもあります。#[br]1744年には、女帝マリア・テレジアによってハプスブルグ皇室直属の窯に命じられ、以来、「インペリアル ウィーン磁器工房」としてこの工房で作られる全商品には、ハプスブルク家の紋章である横2本の盾が、商標として焼き付けられています。この時代にフランスを代表とする画家ワトーが描くロココ調の風景画や、磁器製の人形が盛んに製作され、今日でもこれらウィーン磁器工房のロココ調磁器は、収集家に大変珍重されています。#[br]この時代に誕生した代表的な絵柄のひとつに 「マリア・テレジア」 があります。マリア・テレジアの狩猟の館であったアウガルテン宮殿のディナーセットとして、女帝への敬意を込めて贈られたもの。18世紀狩猟のシンボルであった、もみの木の色だけで彩色された優美な花柄は現在でも高い人気を誇っています。#[br]その後もアウガルテンは皇族、貴族のために磁器を焼き続け、24金の金粉を液体に溶かして磁器に塗る新しい技法などを次々と生み出し、18世紀後半には 「技術と品質で世界一」 という名声を得たのです。ハプスブルク家の衰退とともに、1864年から約60年の間一時休窯となったアウガルテンですが、1924年かつてのマリア・テレジアの狩猟の館であるアウガルテン宮殿に工房を移し、名称もウィーン磁器工房アウガルテンと改めてよみがえりました。#[br]今でも、製品のすべてが熟練した職人によって昔ながらの手作りにより製作されているため、生産量は限られています。しかし優しい輝きを放つ絵柄、温かみのある白磁、しっとりなじむフォルムは、一途なこだわりがあるからこそ守られている「アウガルテンの生命」なのです。
          .auto-005089620001-data.picBox.picSky.clearfix
            .pic-augarten01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ウィンナーローズ
                p.norm ティーカップ＆ソーサー（S） 0.2L
                p.money.fontbold #[span.special ル・ノーブル価格] 税込#[span.price.fontbold 26,400] 円
            p.caption ウィンナーローズの絵柄は、1924年アウガルテン宮殿にてウイーン磁器工房が再興されたころ、ウイーンの伝統的な花模様のローズをモチーフとして創りだされました。鮮やかでありながら上品で美しい色づかいと優雅なデザインは何か人を引きつける魅力をもっています。ウイーン磁器工房の伝統と新しい息吹が生みだしたこの絵柄は、アウガルテンを代表する作品として、今日世界中に知られています。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/005089620001/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-125089620001-data.article
            .picBox.pic-augarten02
              .picNum02
            .txtBox
              p.product ウィンナーフラワー
              p.txtNormal.borderLine ブルーベル ティーカップ＆#[br]ソーサー（S） 0.2L
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 33,440] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/125089620001/") 詳しくはこちら
          .auto-235925530068-data.article
            .picBox.pic-augarten03
              .picNum03
            .txtBox
              p.product オーパス
              p.txtNormal.borderLine ティーカップ＆ソーサー 0.25L#[br]ゴールドライン
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 24,640] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/235925530068/") 詳しくはこちら
          .auto-005010620001-data.article
            .picBox.pic-augarten04
              .picNum04
            .txtBox
              p.product スキャタード#[br]コーンフラワー
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー（S） 0.2L
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 37,840] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/005010620001/") 詳しくはこちら
          .auto-001000530062-data.article
            .picBox.pic-augarten05
              .picNum05
            .txtBox
              p.product モーツァルト
              p.txtNormal.borderLine ティーカップ＆ソーサー#[br]0.25L（062）
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 20,240] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/001000530062/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-portmeirion
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-portmeirion.clearfix
              p.brandbgPink ブランド順位#[span.num 9]位
            .nameWrapper
              p.brandName #[span.brandBold ポートメリオン]（イギリス）
              p.caption ポートメリオンは、1953年イギリスの北ウェールズの村ポートメリオンで開いた工房がはじまりです。#[br]その後、1960年に焼き物のメッカ、ストークオントレントに移転してポートメリオン社を設立しました。
              p.caption カジュアルテーブルウェアーのリーダー的な英国食器メーカーで、機能性、使いやすさが人気の秘密です。食器洗い機や電子レンジ、オーブンでの使用もOKです。
          .auto-074915168501-data.picBox.clearfix
            .pic-portmeirion01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold アトリウム
                p.norm ティーカップ＆ソーサー 280cc
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 3,520] 円
                p.discount 20% OFF
            p.caption イギリスのアウトドアシーズンの美しい自然が描写されたポートメリオン2019年の新作“アトリウム”。大胆な花柄と幾何学文様のテーブルウエアコレクションでミックス＆マッチを存分にお楽しみいただけます。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915168501/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-074915142144-data.article
            .picBox.pic-portmeirion02
              .picNum02
            .txtBox
              p.product ボタニックブルー
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 170cc
              p.txtNormal 特別価格
              p.special 税込 #[span 3,850] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915142144/") 詳しくはこちら
          .auto-074915139299-data.article
            .picBox.pic-portmeirion03
              .picNum03
            .txtBox
              p.product ボタニックガーデン
              p.txtNormal.borderLine ティーカップ＆ソーサー 200cc #[br]キジムシロ
              p.txtNormal 特別価格
              p.special 税込 #[span 3,465] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915139299/") 詳しくはこちら
          .auto-074915138935-data.article
            .picBox.pic-portmeirion04
              .picNum04
            .txtBox
              p.product ボタニックガーデン
              p.txtNormal.borderLine ティーカップ＆ソーサー 200cc#[br]ジャスミン
              p.txtNormal 特別価格
              p.special 税込 #[span 3,465] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915138935/") 詳しくはこちら
          .auto-074915139303-data.article
            .picBox.pic-portmeirion05
              .picNum05
            .txtBox
              p.product ボタニックガーデン
              p.txtNormal.borderLine ティーカップ＆ソーサー 200cc#[br]イトシャジン
              p.txtNormal 特別価格
              p.special 税込 #[span 3,465] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915139303/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-iporcelain
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-iporcelain.clearfix
              p.brandbgSky ブランド順位#[span.num 10]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold インペリアル・#[br]ポーセリン]（ロシア）
              p.caption インペリアル・ポーセリン&#65374;Imperial Porcelain Manufactory&#65374;は、華やかなロシア文化を築き上げたロマノフ王朝時代の1744年、ロシア皇帝ピョートル大帝の娘、エリザヴェータの命により、皇帝専属磁器工場としてサンクトペテルブルクに設立されたロシア最古の窯となります。開窯当初よりロマノフ家および宮廷で使用される陶磁器を生産し、サンクトペテルブルクの冬宮殿宮や、ツァールスコエ・セローにあるエカテリーナ宮殿などを含むすべての宮廷で行われる晩餐会のテーブルや部屋を彩りました。#[br]インペリアル・ポーセリンはロシア帝国の繁栄とともに、皇帝専用の窯として発展を遂げます。#[br]1917年ロシア革命後のソビエト時代は軍需用セラミック製品を手掛けることが多くなりましたが、その間も少数ながら製造され、海外の博覧会などで国力宣伝用として数多く出展され、純度の高い素材と芸術性において、高い評価を得ました。その後1925年にロシア科学アカデミー創立200周年を記念し、エリザベータの時代に活躍した、偉大な科学者ミハイル・ロモノーソフにちなんで「ロモノーソフ磁器工場」と改名されました。1991年の以降は日常茶器や食器などの生産が急速に復活、かつての華麗な磁器造りが再現されていきます。ロモノーソフの製品が門外に流出することはまれであり、一部収集家が所有するのみでしたが、1993年の民営化以降、アメリカや日本へ輸出を開始するようになり、これまで美術館や博物館で鑑賞することしかできなかった製品が手軽に所有できるようになりました。#[br]現在では、硬質磁器、軟質陶磁器、ボーンチャイナといった様々な材質で、ティーセット、コーヒーセット、フィギュリン、飾り皿など、約3000種類にもおよぶ製品を生産しています。270年以上にもわたり職人に受け継がれた、伝統と技術でサンクトペテルブルクで生み出される数々の陶磁器はその歴史と格調の高さで、ロシア国内はもとより、世界中で高く評価されています。材質：磁器（金彩部分22金）
          .auto-138811010590-data.picBox.picSky.clearfix
            .pic-iporcelain01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold コバルトネット
                p.norm ティーカップ＆ソーサー 250cc
                p.money.fontbold #[span.special ル・ノーブル価格] 税込#[span.price.fontbold 13,200] 円
            p.caption コバルトの網目模様に金の美しい装飾が特徴の「コバルトネット」シリーズは、女帝エカテリーナ2世に献上されたディナーセットを基に制作されました。そのユニークで上品なスタイルは世界中で高く評価されており、1958年にはブリュッセル万国博覧会にてグランプリを受賞しました。#[br]1949年の発表より半世紀以上にわたり、インペリアル・ポーセリンを代表するパターンとして世界中の人々に愛され続けています。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/138811010590/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-138811635400-data.article
            .picBox.pic-iporcelain02
              .picNum02
            .txtBox
              p.product ブルース（ピンクネット）
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 250cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 13,200] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/138811635400/") 詳しくはこちら
          .auto-138811002400-data.article
            .picBox.pic-iporcelain03
              .picNum03
            .txtBox
              p.product ムーン
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 250cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 7,480] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/138811002400/") 詳しくはこちら
          .auto-138812095600-data.article
            .picBox.pic-iporcelain04
              .picNum04
            .txtBox
              p.product チューリップ
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 9,350] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/138812095600/") 詳しくはこちら
          .auto-138811791600-data.article
            .picBox.pic-iporcelain05
              .picNum05
            .txtBox
              p.product バレエコレクション
              p.txtNormal.borderLine バレエコレクション 3ピースセット#[br]白鳥の湖
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 19,800] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/138811791600/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-spode
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-spode.clearfix
              p.brandbgPink ブランド順位#[span.num 11]位
            .nameWrapper
              p.brandName #[span.brandBold スポード]（イギリス）
              p.caption ファインボーンチャイナの完成と銅版転写による下絵付け技法において、英国陶磁器界に大変な功績を残した名窯 スポード社（SPODE）。
              p.caption 1806年、ジョージ4世より英国王室御用達の栄誉を得ました。1816年には、銅版転写技術の集大成と呼ばれる、古代ローマをモチーフとしたブルーイタリアンシリーズを発表し、約200年経た現在まで変わらず愛され続ける永遠のベストセラーとなっています。
              p.caption その伝統は、英国ポートメリオン社（Portmeirion）傘下となった今も引き継がれています。
          .auto-001305801140-data.picBox.clearfix
            .pic-spode01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ブルーイタリアン
                p.norm ティーカップ＆ソーサー
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 3,850] 円
                p.discount 30% OFF
            p.caption 19世紀初期にデザインされたブルーイタリアンは、古代ローマの伝統的風景をモチーフとしながらも、その縁取りの文様は伊万里焼に代表されるジャポニズムの影響が顕著に見られ、ヨーロッパと東洋の文化の融合が端的に現れた一例といえるでしょう。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/001305801140/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-074915166519-data.article
            .picBox.pic-spode02
              .picNum02
            .txtBox
              p.product クランベリーイタリアン
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 170cc
              p.txtNormal 特別価格
              p.special 税込 #[span 3,850] 円
              p.discount 30% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915166519/") 詳しくはこちら
          .auto-074915168546-data.article
            .picBox.pic-spode03
              .picNum03
            .txtBox
              p.product キングスレイ
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200cc
              p.txtNormal 特別価格
              p.special 税込 #[span 4,400] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915168546/") 詳しくはこちら
          .auto-074915162999-data.article
            .picBox.pic-spode04
              .picNum04
            .txtBox
              p.product ラスキン
              p.txtNormal.borderLine ティーカップ＆ソーサー
              p.txtNormal 特別価格
              p.special 税込 #[span 3,960] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915162999/") 詳しくはこちら
          .auto-074915168550-data.article
            .picBox.pic-spode05
              .picNum05
            .txtBox
              p.product キングスレイ
              p.txtNormal.borderLine ティーカップ＆ソーサー 200cc#[br]ティールブルー
              p.txtNormal 特別価格
              p.special 税込 #[span 4,576] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/074915168550/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-boleslawiec
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-boleslawiec.clearfix
              p.brandbgSky ブランド順位#[span.num 12]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold ボレスワヴィエツ]#[br]（ポーランド）
              p.caption はるばる遠い異国で作られたものなのに、なぜか私たち日本人にとってなつかしく、和食器にどこか通じるところがあるポーリッシュポタリー。洋食や和食だけでなく、中華料理やエスニック料理など、どんな料理にもおすすめできる器です。#[br]ポーランド南西部の小さな街、ボレスワヴィエツで作られる陶器を「ポーランド陶器」「ポーランド食器」「ポーリッシュポタリー」と呼びます。ポーリッシュポタリーは、温もりのある愛らしいデザインと、電子レンジ、オーブン、食器洗い乾燥機の使用もできる丈夫さで、アメリカやヨーロッパでも大変人気があります。また、その美しい柄は、職人さん（主に女性達）が顔料をスポンジ（海綿）で作ったスタンプにしみ込ませ、それを押していく方法で描いています。そのため、一つ一つの製品の絵柄をつける作業にはとても手間がかかり、台を回しながら連続してスタンプを押していく作業はまさに職人技。丹誠込めて描かれた柄はハンドメイドの温かみが伝わってきます。
              p.caption ザクワディ・ツェラミチュナ・ボレスワヴィエツ（Zaklady Ceramiczne BOLESLAWIEC）社は、ボレスワヴィエツ陶器製造会社という意味で、この町を代表する長い歴史を誇る大手老舗メーカーです。社名に「ボレスワヴィエツ」という地名を入れることが許されている会社はこちらだけです。1000種類以上の豊富なフォルムデザインとパターン数を持ち、ガーデンオブジェやキッチン用保存容器など、テーブルウェア以外にも多くのフォルムを世に送り出しているのもボレスワヴィエツ社の特徴です。シーズニングボウル（薬味入れ）、持ち手付小鉢、漬物用の壺などの伝統的なフォルムデザインも大切に守り続けており、多くのポーランド国内のレストランやホテルでも利用されています。高い技術と品質、機能と実用性だけではなく、美しさも兼ね備えているこちらの製品は、世界的にも高く評価され続けられており、特に深い藍色の製品の美しさには定評があります。
          .auto-590715704920-data.picBox.picSky.clearfix
            .pic-boleslawiec01
            .rank01Box
              .num
              .txtBox
                p.norm ティーカップ＆#[br]ソーサー 220ml／16cm
                p.money.fontbold #[span.special ル・ノーブル価格] 税込#[span.price.fontbold 3,300] 円
            p.caption はるばる遠い異国からやってきたのに、なぜか私たち日本人にとってなつかしく、和食器にどこか通じるところがあるポーリッシュポタリー（ポーランド陶器）&#9834;#[br]ぽってりとしたオーソドックスな形ながらも、エレガントで美しい柄が映えるフォルムのティーカップ＆ソーサーです。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/590715704920/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-590715704868-data.article
            .picBox.pic-boleslawiec02
              .picNum02
            .txtBox
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]220ml／16cm 
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 3,300] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/590715704868/") 詳しくはこちら
          .auto-590715659351-data.article
            .picBox.pic-boleslawiec03
              .picNum03
            .txtBox
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]220ml／16cm 
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 2,750] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/590715659351/") 詳しくはこちら
          .auto-590715660326-data.article
            .picBox.pic-boleslawiec04
              .picNum04
            .txtBox
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]220ml／16cm 
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 2,750] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/590715660326/") 詳しくはこちら
          .auto-590715664620-data.article
            .picBox.pic-boleslawiec05
              .picNum05
            .txtBox
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]220ml／16cm 
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 2,750] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/590715664620/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-hermes
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-hermes.clearfix
              p.brandbgPink ブランド順位#[span.num 13]位
            .nameWrapper
              p.brandName #[span.brandBold エルメス ]（フランス）
              p.caption フランスを代表する超一流ブランド「HERMES」。エレガントなデザインが生み出す上質空間で優雅な癒しの時間をお過ごし下さい。
              p.caption エルメスの創業は1837年。テーブルウェアに進出したのは1984年のことです。エルメスの得意とする「エレガンス」が磁器の上で繰り広げられています。遊び心や楽しさをデザインの中に生かしたスタイルは世界中から広く愛されています。
          .auto-010000011016-data.picBox.clearfix
            .pic-hermes01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ガダルキヴィール
                p.norm ティーカップ＆ソーサー 160ml
                p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 16,830] 円
                p.discount 10% OFF
            p.caption 目を奪われるような情熱の赤が印象的な「ガダルキヴィール」。スペインのゴルドバにある、ガダルキヴィール川に映るアンダルシア地方の鉄細工装飾のバルコニーや門をモチーフにデザインされています。情熱の国スペインを赤色で見事に表したエルメスでも新しいテイストのシリーズです。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/010000011016/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-010000030016-data.article
            .picBox.pic-hermes02
              .picNum02
            .txtBox
              p.product ブルー ダイユール#[br]（青と白の物語）
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー 200ml
              p.txtNormal ネット店限定価格
              p.special 税込 #[span 19,360] 円
              p.discount 20% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/010000030016/") 詳しくはこちら
          .auto-010000026016-data.article
            .picBox.pic-hermes03
              .picNum03
            .txtBox
              p.product モザイク#[br]ヴァンキャトル
              p.txtNormal.borderLine ティーカップ＆ソーサー 160ml
              p.txtNormal 特別価格
              p.special 税込 #[span 26,730] 円
              p.discount 10% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/010000026016/") 詳しくはこちら
          .auto-010000041016-data.article
            .picBox.pic-hermes04
              .picNum04
            .txtBox
              p.product アッシュデコ ルージュ
              p.txtNormal.borderLine ティーカップ＆ソーサー 160ml
              p.txtNormal 特別価格
              p.special 税込 #[span 16,830] 円
              p.discount 10% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/010000041016/") 詳しくはこちら
          .auto-010000043116-data.article
            .picBox.pic-hermes05
              .picNum05
            .txtBox
              p.product ウォーク・イン・#[br]ザ・ガーデン
              p.txtNormal.borderLine ティーカップ＆#[br]ソーサー イエロー
              p.txtNormal 特別価格
              p.special 税込 #[span 19,800] 円
              p.discount 10% OFF
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/010000043116/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-ichendorf
      .goodsWrapper
        .rank01
          .nameBox.nameSky
            .brandRank.brandRank-ichendorf.clearfix
              p.brandbgSky ブランド順位#[span.num 14]位
            .nameWrapper.nameWrapper-sky
              p.brandName #[span.brandBold イッケンドルフ ミラノ]（イタリア）
              p.caption イッケンドルフ・ミラノ（ICHENDORF MILANO）の歴史#[br]ドイツはケルン近郊の小さな町、クヴァドラート・イッケンドルフに創業した「ICHENDORF」の歴史は20世紀初頭にまでさかのぼります。1950年頃までは熟練の職人により、シリカなど原材料の研究、配合が進められ、様々な貴重な装飾作品を生み出し、業界において主導的役割を果たしました。それ以降は、高純度の原材料にこだわり、完璧なまでの透明度、シンプルなシェイプに重点が置かれるなどの画期的な変革がもたらされました。従来の古典的な装飾は排除され、非日常の特別なものではない、現代の時代にも通用する新しいモダンデザインの世界への終わりなき探求がこの時すでに始まっていたのです。
              p.caption 1990年には、Ichendorf Style Center をミラノに移転、アーティスト、デザイナーが独創的なアイディアを一枚の紙の状態から、吹きガラス職人の動作にまで落とし込むことによって、Ichendorfの哲学の根源にも繋がる伝統と革新、熟練の技術とモダンデザインの融合が実現され、他に類を見ない暮らしを愉しむための製品が次々と生み出されています。
              p.caption 耐熱性の高い特殊ガラス（熱湯用）ですので、繊細なガラス製品の中でも比較的取扱いがしやすく、季節を問わずお使いいただけます。1つのブランドであっても、様々なデザイナーを起用することにより、個性的なシリーズが豊富に揃っています。素材がシンプルだからこそ、シェイプによって十分に存在感が引き出され、またそのデザインを実現できる技術を持っていることが、イッケンドルフの強みでもあります。ぜひ貴方の好きなデザイナーを見つけてください。今人気の北欧テイストの食器や和食器、貴方だけのコーディネートをたのしんでみてください。
              
          .auto-803239704231-data.picBox.picSky.clearfix
            .pic-ichendorf01
            .rank01Box
              .num
              .txtBox
                p.product-small グリーンウッド
                p.norm-large ティーカップ＆ソーサーティーカップ#[br]ブルーフラワー 250cc
                p.money.fontbold #[span.special ル・ノーブル価格] 税込#[span.price.fontbold 4,950] 円
            p.caption 木の幹をイメージしたデザインは、とても繊細で詩的です。#[br]このカップでお茶を飲むと、絵本の中に迷い込んだような気持ちになるかも？#[br]ティーカップとしての機能を持っているのですが、オブジェとして、インテリアとして、置いておくだけでもストーリーが生まれる、デザナーの夢と技術が実現したシリーズです。#[br]持ち手が木の枝のデザインになっているところも面白いです。#[br]（少し持ちにくいですが、もう一方の手を添えて頂けるとよいかと思います。）
            p.caption 伝統ある技術とハイセンスなデザインが出会い誕生した、ICHENDORF MILANO（イッケンドルフ ミラノ）の美しいグラスウェアです。
            p.caption イッケンドルフのガラス製品は全体的に繊細な印象ですので、特徴的なデザインやフォルムがとても際立ち、並べて置くだけでも絵になります。
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/803239704231/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-803239704230-data.article
            .picBox.pic-ichendorf02
              .picNum02
            .txtBox
              p.txtNormal グリーンウッド
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]レッドベリー 250cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 4,950] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/803239704230/") 詳しくはこちら
          .auto-803239704229-data.article
            .picBox.pic-ichendorf03
              .picNum03
            .txtBox
              p.txtNormal グリーンウッド
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]アンバーグラス 250cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 4,950] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/803239704229/") 詳しくはこちら
          .auto-803239704227-data.article
            .picBox.pic-ichendorf04
              .picNum04
            .txtBox
              p.txtNormal グリーンウッド
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]リーフ 250cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 4,950] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/803239704227/") 詳しくはこちら
          .auto-803239704228-data.article
            .picBox.pic-ichendorf05
              .picNum05
            .txtBox
              p.txtNormal グリーンウッド
              p.product-sml-ut.borderLine ティーカップ＆ソーサー#[br]グリーングラス 250cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 4,950] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/803239704228/") 詳しくはこちら
    
    .goods
      .bg.bgPink
      .brandTitle-buran
      .goodsWrapper
        .rank01
          .nameBox
            .brandRank.brandRank-buran.clearfix
              p.brandbgPink ブランド順位#[span.num 15]位
            .nameWrapper
              p.brandName #[span.brandBold ブランベン#[br]ジャロン工房]（タイ）
              p.caption ベンジャロン焼の里として有名なサムットサコーン県（※）に工房を持つブランベンジャロンはタイの手工芸品であったベンジャロン焼を製品化し、世界に広めることに貢献したメーカーの1つです。金彩、プラチナ彩、多色の色付け等、ベンジャロン焼の伝統的な魅力や製造技術を踏襲した製品の製造を行っています。また、新しい世代や現代の生活スタイルにあったオリジナルデザインのベンジャロン焼の創作も手がけおり、その製品はタイのセレブリティや高級ホテルにも数多く納められ、ベンジャロン焼の一流メーカーとしてその地位を確立しつつあります。生地：ボーンチャイナ（ロイヤルポーセリン製）#[br]※サムットサコーンとは「海と河川」という意味で、海までわずか2kmのターチン川の河口に位置しています。タイ湾に面しているという立地条件から、かつては中国のジャンク船による貿易が盛んでした。現在はバンコクから約30kmと近郊に位置することから工場地帯となっています。
              p.caption ベンジャロン、セラドン、ブルーホワイトの三大陶磁器。その内、王室専用に作られていた陶磁器がこのベンジャロン焼です。ベンジャロンとは古代サンスクリット語で5色を意味しますが、ベンジャロン焼に使われている色の種類は5色だけでなく様々な色が使われています。アユタヤ王朝時代16世紀末から17世紀前半頃には、中国から磁器や多色の上絵具を焼き付ける技術が伝えられました。ベンジャロン焼のデザインが金色を使用した豪華なものになったのは今から200年ほど前のチャクリー王朝ラーマ2世の時代。そして王室御用達から裕福な貴族、商人の生活にも浸透していきました。
          .auto-590000001006-data.picBox.clearfix
            .pic-buran01
            .rank01Box
              .num
              .txtBox
                p.product.fontbold ボタニカルブーケ#[br]ティーカップ＆ソーサー
                p.money.fontbold #[span.special ル・ノーブル価格] 税込#[span.price.fontbold 20,350] 円
            p.caption 亜熱帯の色鮮やかな草花のブーケとターコイズのコントラストが見事なティーカップ＆ソーサー。
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/590000001006/") 詳しくはこちら
        .rankOther.bgbandPink
          .auto-590000001021-data.article
            .picBox.pic-buran02
              .picNum02
            .txtBox
              p.product-sml-ut.borderLine ボタニカルブーケ ピンク#[br]ティーカップ＆ソーサー
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 20,350] 円
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/590000001021/") 詳しくはこちら
          .auto-590000001003-data.article
            .picBox.pic-buran03
              .picNum03
            .txtBox
              p.product-sml-ut.borderLine ブレストレイン#[br]ティーカップ＆ソーサー
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 20,350] 円
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/590000001003/") 詳しくはこちら
          .auto-590000001001-data.article
            .picBox.pic-buran04
              .picNum04
            .txtBox
              p.product-sml-ut.borderLine プンカオビン（稲穂）#[br]ティーカップ＆ソーサー
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 20,350] 円
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/590000001001/") 詳しくはこちら
          .auto-590000001005-data.article
            .picBox.pic-buran05
              .picNum05
            .txtBox
              p.product-sml-ut.borderLine ロータスフラワー多彩#[br]ティーカップ＆ソーサー
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 20,350] 円
            a.detailLink.linkPink(href="https://www.le-noble.com/d/s/product_info/590000001005/") 詳しくはこちら
    
    .goods
      .bg.bgSky
      .brandTitle-other
      .goodsWrapper
        .rank01.rankLast
          .nameBox.nameSky
            .brandRank.brandRank-other.clearfix
              p.brandbgSky ブランド順位#[span.num 16]位
            .brandName-last
              p その他
        .container
          .auto-003000100001-data.picBox.picSky.clearfix
              .pic-other01
              .rank01Box
                .num01
                .txtBox
                  p.txtNormal ミントン（イギリス）
                  p.product.fontbold ハドンホール
                  p.norm ティーカップ＆ソーサー 220ml
                  p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 5,280] 円
                  p.discount 20% OFF
              p.caption 1948年、イングランドの古城ハドンホールのタペストリーからヒントを得て誕生した、ミントンの中でも最も有名なシリーズ。パッションフラワーやパンジーなどの花が図案的に描かれた総柄で、約12色と色使いも多彩。ミントンはもちろん他のメーカーのものと比べても際立つ個性を放っています。また器のボディには波打つような「ファイフ・シェイプ」が採用されています。開発の際、ピンクやグリーンを基調にしたカラーと、ブルーやレモン色を基調にしたカラーの2案が出され、前者が商品化されました。ブルーを基調とした案のデザイン画はその後行方不明になっていましたが44年後に発見され、現在はハドンホールブルーとして発売されています。
              a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/003000100001/") 詳しくはこちら
          .auto-013000200001-data.picBox.picSky.clearfix
              .pic-other02
              .rank01Box
                .num02
                .txtBox.txtboxLast
                  p.txtNormal ロイヤルクラウンダービー（イギリス）
                  p.product.fontbold ロイヤルアントワネット
                  p.norm ティーカップ＆ソーサー 220ml
                  p.money.fontbold #[span.special 特別価格] 税込#[span.price.fontbold 29,700] 円
                  p.discount 20% OFF
              p.caption ロイヤルアントワネットシリーズは、エリザベス女王が週末を過ごされるウィンザー城（バッキンガム宮殿から車で1時間ほどの距離）の朝食用テーブルウェアとして愛用されています。エレガントなフラワーリースのデザインと、ノスタルジーが漂う波打つシェイプが上品にマッチしています。#[br]美しい金彩、愛らしい花々、散りばめられた小さな星達。ティータイム、ディナータイムをより優雅にテーブルを演出してくれる逸品です。
              a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/013000200001/") 詳しくはこちら
        .rankOther.bgbandSky
          .auto-401243849516-data.article.lastBox
            .picBox.pic-other03
              .picNum03-last
            .txtBox
              p.txtNormal ローゼンタール（ドイツ）
              p.product マリアピンクローズ
              p.txtNormal.borderLine ティーカップ＆ソーサー 200ml
              p.txtNormal 特別価格
              p.special 税込 #[span 4,840] 円
              p.discount 20% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/401243849516/") 詳しくはこちら
          .auto-092000000908-data.article.lastBox
            .picBox.pic-other04
              .picNum04-last
            .txtBox
              p.txtNormal ロイカーカム（イギリス）
              p.product パレスガーデン
              p.txtNormal.borderLine ティーカップ＆ソーサー（スタンダード） 230cc
              p.txtNormal 特別価格
              p.special 税込 #[span 2,156] 円
              p.discount 30% OFF
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/092000000908/") 詳しくはこちら
          .auto-570485475800-data.article.lastBox
            .picBox.pic-other05
              .picNum05-last
            .txtBox
              p.txtNormal ビバ スカンジナビア（デンマーク）
              p.txtNormal.borderLine クラシック オフィスカップ＆#[br]ソーサー 300cc
              p.txtNormal ル・ノーブル価格
              p.special 税込 #[span 3,080] 円
            a.detailLink.linkSky(href="https://www.le-noble.com/d/s/product_info/570485475800/") 詳しくはこちら
