/*---------------------------------------*/
/* media query */
/*---------------------------------------*/
@import mediaquery-setting
@import setting


/* --------------------------------------- */
/* util */
/* --------------------------------------- */
@mixin box-shadow($dp: 1)
  box-shadow: 0 3px*$dp 6px*$dp -3px*$dp rgba($black, .8)


/*---------------------------------------*/
/* font */
/*---------------------------------------*/
@mixin fontrem($size)
  font-size: ($size / 16) + rem

@mixin notoserif($weight)
  font-family: 'Noto Serif JP', serif
  font-weight: ($weight)

$blue: #283C7E

// reset.css
body
  margin: 0px
  padding: 0px

select
  line-height: 1.8em
  border: 1px solid #CCCCCC
  padding: 5px 8px
  font-size: 12px

input
  line-height: 1.8em
  border: 1px solid #CCCCCC
  padding: 5px 8px
  font-size: 12px

textarea
  line-height: 1.8em
  border: 1px solid #CCCCCC
  padding: 5px 8px
  font-size: 12px

/*======================================

	1-2.Universal selector

 =======================================*/

*
  font-weight: normal
  font-style: normal
  font-size: 100%


/*======================================

	1-4.Text Module

 =======================================*/

p
  margin: 0em
  padding: 0em
  line-height: 1.6em
  color: #333333

pre
  margin: 0em
  padding: 0em
  line-height: 1.6em
  color: #333333

address
  margin: 0em
  padding: 0em
  line-height: 1.6em
  color: #333333

cite
  margin: 0em
  padding: 0em
  line-height: 1.6em
  color: #333333
h1
  margin: 0em
  padding: 0em
  line-height: 1.8em
  font-weight: normal
  color: #333333

h2
  margin: 0em
  padding: 0em
  line-height: 1.8em
  font-weight: normal
  color: #333333

h3
  margin: 0em
  padding: 0em
  line-height: 1.8em
  font-weight: normal
  color: #333333

h4
  margin: 0em
  padding: 0em
  line-height: 1.8em
  font-weight: normal
  color: #333333

h5
  margin: 0em
  padding: 0em
  line-height: 1.8em
  font-weight: normal
  color: #333333

h6
  margin: 0em
  padding: 0em
  line-height: 1.8em
  font-weight: normal
  color: #333333

strong
  font-weight: bold
  line-height: 200%

ul
  margin: 0px
  padding-left: 0px


ol
  margin: 0px
  padding-left: 0px

dl
  margin: 0px
  padding-left: 0px

li
	list-style: none
	line-height: 1.8em
	color: #333333

dt
	list-style: none
	line-height: 1.8em
	color: #333333

dd
	list-style: none
	line-height: 1.8em
	color: #333333


ol
  li
    list-style: decimal inside
    margin-left: 35px
    text-indent: -25px
dd
  margin: 0px 0px 0px 10px


/*======================================

	1-9.Tables Module

 =======================================*/

table
  border-collapse: separate
  border-spacing: 0px
  border-collapse: collapse

/*======================================

	1-10.Image Module

 =======================================*/

img
  border-style: none
  padding: 0px

/* --------------------------------------- */
/* common */
/* --------------------------------------- */

.topic-main-100per-inner
  display: block!important

#france
  margin: 0!important
  width: 100%
  height: auto
  padding-bottom: 200px
  background: url(../topic_images/jpg/france_bg.jpg)
  background-repeat: repeat
  +m_only
    padding-bottom: 70px
  +m_up
    padding-bottom: 70px
  +s_only
    padding-bottom: 30px
  p
    color: $blue
  .pc_br
    +m_only
      display: none
    +s_only
      display: none
  .sp_br
    +xl_up
      display: none
  .clearfix::after
    content: ""
    display: block
    clear: both
  .deco-border
    width: 100%
    height: 34px
    background: url(../topic_images/png/france_decoborder.png)
    background-repeat: repeat
  .keyVisual
    @include notoserif(500)
    padding: 80px 0
    position: relative
    +m_up
      padding: 50px 0
    +s_only
      padding: 50px 0 160px
    .deco-ribbon
      margin: 0 auto 24px
      width: 405px
      height: 60px
      background: url(../topic_images/png/france_keyvisual_decoribbon.png) center center no-repeat
      background-size: contain
      z-index: 999
      +s_only
        box-sizing: border-box
        width: 80%
        height: 0
        padding-top: (60 / 405)*100%
    .deco-line
      margin: 30px auto 36px
      width: 109px
      height: 2px
      background: url(../topic_images/png/france_keyvisual_decoline.png) center center no-repeat
      background-size: contain
    .deco01
      content: ''
      position: absolute
      top: 3vw
      left: 2vw
      width: 264px
      height: 346px
      background: url(../topic_images/png/france_keyvisual_deco01.png) center center no-repeat
      background-size: contain
      z-index: 1
      +m_only
        top: 5vw
        width: (264px * 0.7)
        height: (346px * 0.7)
      +m-up
        top: 10vw
        width: (264px * 0.5)
        height: (346px * 0.5)
      +s_only
        top: 39vw
        left: 0vw
        width: (138px * 0.5)
        height: (509px * 0.5)
        background: url(../topic_images/png/france_keyvisual_deco01_sp.png) center center no-repeat
        background-size: contain
        z-index: 1
    .deco02
      content: ''
      position: absolute
      top: 4vw
      right: 2vw
      width: 339px
      height: 233px
      background: url(../topic_images/png/france_keyvisual_deco02.png) center center no-repeat
      background-size: contain
      z-index: 1
      +m_only
        top: 10vw
        width: (348px * 0.7)
        height: (265px * 0.7)
      +m_up
        top: 14vw
        width: (348px * 0.5)
        height: (265px * 0.5)
      +s_only
        top: 66vw
        right: 0vw
        width: (160px * 0.5)
        height: (151px * 0.5)
        background: url(../topic_images/png/france_keyvisual_deco02_sp.png) center center no-repeat
        background-size: contain
        z-index: 1
    .deco03
      content: ''
      position: absolute
      left: 3vw
      bottom: 2vw
      width: 353px
      height: 240px
      margin-bottom: 20px
      background: url(../topic_images/png/france_keyvisual_deco03.png) center center no-repeat
      background-size: contain
      z-index: 1
      +m_only
        bottom: 5vw
        width: (353px * 0.7)
        height: (240px * 0.7)
      +m_up
        left: 1vw
        bottom: 6vw
        width: (353px * 0.6)
        height: (240px * 0.6)
      +s_only
        left: 1vw
        bottom: -5vw
        width: (372px * 0.5)
        height: (271px * 0.5)
        margin-bottom: 20px
        background: url(../topic_images/png/france_keyvisual_deco03_sp.png) center center no-repeat
        background-size: contain
    .deco04
      content: ''
      position: absolute
      bottom: 0vw
      right: 2vw
      width: 390px
      height: 184px
      margin-bottom: 40px
      background: url(../topic_images/png/france_keyvisual_deco04.png) center center no-repeat
      background-size: contain
      z-index: 1
      +m_only
        bottom: 5vw
        width: (390px * 0.7)
        height: (184px * 0.7)
      +m_up
        bottom: 9vw
        width: (390px * 0.5)
        height: (184px * 0.5)
      +s_only
        bottom: -7vw
        right: 0vw
        width: (299px * 0.5)
        height: (272px * 0.5)
        margin-bottom: 40px
        background: url(../topic_images/png/france_keyvisual_deco04_sp.png) center center no-repeat
        background-size: contain
        z-index: 1

    h1.title
      @include fontrem(84)
      color: $blue
      text-align: center
      line-height: 1em
      z-index: 999
      position: relative
      z-index: 999
      +m_only
        @include fontrem(60)
      +m_up
        @include fontrem(50)
      +s_only
        @include fontrem(44)
      &::after
    .caption
      position: relative
      color: $blue
      text-align: center
      line-height: 2.5em
      z-index: 999
      +m_up
        line-height: 2em
      +s_only
        line-height: 1.8em
        padding: 0 30px
  .section
    margin: 0 84px
    +m_only
      margin: 0 40px
    +m_up
      margin: 0 20px
    +s_only
      margin: 0 12px
    .contentsInner
      @include notoserif(400)
      margin-top: 60px
      position: relative
      .decoParts02
        position: absolute
        top: -3vw
        left: -6vw
        width: 220px
        height: 210px
        background: url(../topic_images/png/france_contents_deco02.png) center center no-repeat
        background-size: contain
        z-index: 1
        +m_up
          width: (220px * 0.7)
          height: (210px * 0.7)
        +s_only
          top: 21vw
          left: -11vw
          width: (220px * 0.5)
          height: (210px * 0.5)
      .ellipse-circle
        box-sizing: border-box
        border-radius: 50% / 100% 100% 0 0
        margin: 0 auto
        padding: 30px 0
        width: 556px
        height: 127px
        background: rgba(255,255,255,0.7)
        line-height: 3
        text-align: center
        text-decoration: none
        z-index: 1
        +s_only
          width: 280px
          height: 40px
    .bottomBg
      margin-bottom: 110px
      width: 100%
      height: 5px
      background: url(../topic_images/png/france_contents_bottombg.png)
      background-repeat: repeat
      background-size: contain
    .contentsBox
      background-color: rgba(255,255,255,0.7)
      position: relative
      position: relative
      margin: 0 auto
      padding: 90px 0 84px
      box-sizing: border-box
      z-index: 2
      .title-sp
        text-align: center
        @include notoserif(700)
        +s_only
          .subtitle16
            @include fontrem(16)
          .subtitle23
            @include fontrem(23)
            line-height: 1.3em
          .subtitle22
            @include fontrem(22)
            position: relative
            &::after
              content: ''
              position: absolute
              right: -41px
              bottom: -3px
              width: (57px * 0.6)
              height: (59px * 0.6)
              background-color: #fff
              background: url(../topic_images/png/france_contents_deco01.png) center center no-repeat
              background-size: contain
          .subtitle15
            @include fontrem(15)
          .subtitle25
            @include fontrem(25)
            line-height: 1.3em

        +m_up
          display: none
<<<<<<< HEAD
      .cakestand01-min
        margin: 0 auto
        grid-column: 1 / 1
        grid-row: 1
        +m_only
          width: 90%
        +s_only
          margin: 40px auto 86px
          width: 90%
        .goodspic
          margin: 0 auto
          width: 284px
          height: 298px
          background: url(../topic_images/png/afternoontea_productblock_goods01.png) no-repeat top center
          background-size: contain
        .infoBox
          +m_only
            width: 100%
            margin: 50px auto 0
          ul
            li
              .listMark
                +m_only
                  width: 25%
                +m_up
                  width: 25%
      .cakestand02
        margin: auto
        grid-column: 1 / 2
        grid-row: 1
        +m_only
          width: 90%
          grid-column: 2 / 3
          margin: 40px auto 86px
        +s_only
          width: 100%
          margin: 0 auto 86px
        .goodspic
          width: 578px
          height: 438px
          background: url(../topic_images/png/afternoontea_productblock_goods02.png) no-repeat top center
          background-size: contain
          +m_only
            width: (578px * 0.7)
            height: (438px * 0.7)
            margin: 0 auto
            padding-top: 0
          +m_up
            width: (578px * 0.7)
            height: (438px * 0.7)
            margin: 0 auto
            padding-top: 0
          +s_only
            width: (578px * 0.5)
            height: (438px * 0.5)
            margin: 0 auto
            padding-top: 0
        .infoBox
          width: 55%
          margin: 76px 0 0 20px
          +m_only
            width: 100%
            margin: 0 auto
          +m_only2
            width: 60%
          +s_only
            margin-top: 20px
          ul
            .listMark
              width: 36%
              +m_up
                width: 30%
      &::after
        content: ''
        position: absolute
        bottom: 10vw
        right: -1vw
        width: 259px
        height: 202px
        background: url(../topic_images/png/afternoontea_deco03.png)
        background-size: contain
        z-index: -1
        +m_only2
          width: 207px
          height: 161px
=======
>>>>>>> feat_france
        +m_only
          display: none
        +l_up
          display: none
      .title-pc
        text-align: center
        .subtitle44
          position: relative
          display: block
          @include notoserif(700)
          @include fontrem(44)
          line-height: 1em
          +m_only
            @include fontrem(40)
          +m_up
            @include fontrem(36)
          +s_only
            @include fontrem(22)
            line-height: 0em
          &::after
            content: ''
            position: absolute
            right: -71px
            bottom: -9px
            width: 57px
            height: 59px
            background-color: #fff
            background: url(../topic_images/png/france_contents_deco01.png) center center no-repeat
            background-size: contain
            +m_only
              bottom: -11px
            +s_only
              display: none
        .subtitle32
          display: block
          @include notoserif(700)
          @include fontrem(32)
          line-height: 1em
          +m_only
            @include fontrem(30)
          +m_up
            @include fontrem(27)
          +s_only
            @include fontrem(24)
            line-height: 1.5em
            display: block
        .subtitle26
          display: block
          @include notoserif(700)
          @include fontrem(26)
          line-height: 1em
          +m_only
            @include fontrem(24)
          +m_up
            @include fontrem(21)
          +s_only
            @include fontrem(15)
            line-height: 1.5em
      .deco-line
        margin: 0 auto 80px
        width: 109px
        height: 2px
        background: url(../topic_images/png/france_keyvisual_decoline.png) center center no-repeat
        background-size: contain
        +m_only
          margin: 0 auto 40px
        +m_up
          margin: 0 auto 50px
        +s_only
          margin: 0 auto 40px
      .wrapper
        display: grid
        padding: 0 20px 85px 20px
        +s_only
          display: block
          padding: 0
        .goodsLink
          margin: 0 auto
          -webkit-transition: all 0.3s ease
          -moz-transition: all 0.3s ease
          -o-transition: all 0.3s ease
          transition: all  0.3s ease
          text-decoration: none
          &:hover
            opacity: .8
          +s_only
            display: block
            max-width: 100%
            margin: 84px auto 0
            &:first-child
              margin: 0 auto
        .bubble
          position: relative
          box-sizing: border-box
          border-radius: 4px
          padding: 15px 4px
          width: 304px
          height: 120px
          margin: 0 auto
          display: table-cell
          vertical-align: middle
          +m_only
            margin: 0 auto
            width: 280px
          +s_only
            display: block
            width: 100%
            height: auto
          &::after
            position: absolute
            content: ''
            width: 0
            height: 0
            left: 50%
            transform: translateX(-50%)
            bottom: -17px
            border-style: solid
            border-width: 17px 10px 0 10px
          p
            color: #fff
            text-align: center
            margin: auto
            vertical-align: middle
            @include notoserif(700)
            @include fontrem(16)
          &__red
            @extend .bubble
            background-color: #B52D2D
            &::after
              border-color: #B52D2D transparent transparent transparent
          &__blue
            @extend .bubble
            background-color: #283C7E
            &::after
              border-color: #283C7E transparent transparent transparent
        .picBox
          margin: 0 auto
          width: 304px
          height: 260px
          +m_only
            margin: 0
            width: 280px
            height: 235px
          +s_only
            width: 100%
            height: 0
            padding-top: (235 / 280)*100%
          &__01
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods01.png) center top no-repeat
            background-size: contain
          &__02
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods02.png) center top no-repeat
            background-size: contain
          &__03
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods03.png) center top no-repeat
            background-size: contain
          &__04
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods04.png) center top no-repeat
            background-size: contain
          &__05
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods05.png) center top no-repeat
            background-size: contain
          &__06
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods06.png) center top no-repeat
            background-size: contain
          &__07
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods07.png) center top no-repeat
            background-size: contain
          &__08
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods08.png) center top no-repeat
            background-size: contain
          &__09
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods09.png) center top no-repeat
            background-size: contain
          &__10
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods10.png) center top no-repeat
            background-size: contain
          &__11
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods11.png) center top no-repeat
            background-size: contain
          &__12
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods12.png) center top no-repeat
            background-size: contain
          &__13
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods13.png) center top no-repeat
            background-size: contain
          &__14
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods14.png) center top no-repeat
            background-size: contain
          &__15
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods15.png) center top no-repeat
            background-size: contain
          &__16
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods16.png) center top no-repeat
            background-size: contain
          &__17
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods17.png) center top no-repeat
            background-size: contain
          &__18
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods18.png) center top no-repeat
            background-size: contain
          &__19
            @extend .picBox
            background: url(../topic_images/png/france_contents_goods19.png) center top no-repeat
            background-size: contain

        .article
          max-width: 304px
          +m_only
            max-width: 280px
          +s_only
            max-width: 100%
          .brandName
            @include notoserif(700)
            @include fontrem(16)
            margin-top: 20px
            text-align: center
          .deco_shortline
            margin: 20px auto
            width: 85px
            height: 2px
            background: url(../topic_images/png/france_contents_goods_line.png) center center no-repeat
            background-size: contain
          .textMidi
            text-align: center
            @include notoserif(400)
            @include fontrem(14)
          .priceBox
            margin: 20px auto 0
            max-width: 304px
            text-align: center
            @include fontrem(14)
            .value
              display: inline
            .price
              @include notoserif(700)
              display: inline
              span
                @include notoserif(700)
                @include fontrem(18)
                padding: 0 4px
                +s_only
                  @include fontrem(25)
            .discount
              @include notoserif(700)
              @include fontrem(14)
              display: inline
              padding: 2px 6px
              margin-left: 10px
              color: #fff
              background-color: #333
          .blandLink
            @include fontrem(16)
            display: block
            width: 200px
            margin: 30px auto 0
            box-sizing: border-box
            color: #fff
            text-align: center
            border-radius: 4px
            padding: 6px
            text-decoration: none
            -webkit-transition: all 0.3s ease
            -moz-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all  0.3s ease
            &:hover
              box-sizing: border-box
              background-color: #fff
            &__blue
              @extend .blandLink
              border: 2px solid #283C7E
              background-color: #283C7E
              &:hover
                color: #283C7E
                border: 2px solid #283C7E
            &__red
              @extend .blandLink
              border: 2px solid #B52D2D
              background-color: #B52D2D
              &:hover
                color: #B52D2D
                border: 2px solid #B52D2D

        .goodsBox
          +m_only
            box-sizing: border-box
            max-width: 304px
          &__01
            @extend .goodsBox
            grid-column: 1 / 2
            grid-row: 1 / 2
          &__02
            @extend .goodsBox
            grid-column: 2 / 3
            grid-row: 1 / 2
          &__03
            @extend .goodsBox
            grid-column: 3 / 4
            grid-row: 1 / 2
            +m_up
              margin: 50px auto 0
              grid-column: 1 / 2
              grid-row: 2 / 3
          &__04
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 1 / 2
            grid-row: 2 / 3
            +m_up
              grid-column: 2 / 3
              grid-row: 2 / 3
          &__05
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 2 / 3
            grid-row: 2 / 3
            +m_up
              grid-column: 1 / 2
              grid-row: 3 / 4
          &__06
            @extend .goodsBox
            position: relative
            margin: 50px auto 0
            grid-column: 3 / 4
            grid-row: 2 / 3
            z-index: 2
            +m_up
              grid-column: 2 / 3
              grid-row: 3 / 4
          &__07
            @extend .goodsBox
            grid-column: 1 / 2
            grid-row: 1 / 2
          &__08
            @extend .goodsBox
            grid-column: 2 / 3
            grid-row: 1 / 2
          &__09
            @extend .goodsBox
            grid-column: 3 / 4
            grid-row: 1 / 2
            +m_up
              margin: 50px auto 0
              grid-column: 1 / 2
              grid-row: 2 / 3
          &__10
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 1 / 2
            grid-row: 2 / 3
            +m_up
              grid-column: 2 / 3
              grid-row: 2 / 3
          &__11
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 2 / 3
            grid-row: 2 / 3
            +m_up
              grid-column: 1 / 2
              grid-row: 3 / 4
          &__12
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 3 / 4
            grid-row: 2 / 3
            +m_up
              grid-column: 2 / 3
              grid-row: 3 / 4
          &__13
            @extend .goodsBox
            grid-column: 1 / 2
            grid-row: 1 / 2
            margin: 0 30px 0 auto
          &__14
            @extend .goodsBox
            grid-column: 2 / 3
            grid-row: 1 / 2
            margin: 0 auto 0 30px
          &__15
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 1 / 2
            grid-row: 2 / 3
            margin: 50px 30px 0 auto
          &__16
            @extend .goodsBox
            margin: 50px auto 0
            grid-column: 2 / 3
            grid-row: 2 / 3
            margin: 50px auto 0 30px
          &__17
            @extend .goodsBox
            margin: 0px auto 0
            grid-column: 1 / 2
            grid-row: 1 / 2
          &__18
            @extend .goodsBox
            margin: 0px auto 0
            grid-column: 2 / 3
            grid-row: 1 / 2
          &__19
            @extend .goodsBox
            margin: 0px auto 0
            grid-column: 3 / 4
            grid-row: 1 / 2
            +m_up
              margin-top: 50px
              grid-column: 1 / 2
              grid-row: 2 / 3
      &__01
        @extend .contentsBox
        position: relative
        +m_only
          padding: 70px 0 84px
        +m_up
          padding: 30px 0 40px
        +s_only
          padding: 45px 10px 80px
        .title-pc
          content: ''
          position: absolute
          top: -5vw
          left: 50%
          transform: translateX(-50%)
          +m_only
            top: -7vw
          +m_up
            top: -9vw
          +s_only
            display: none
        .title-sp
          content: ''
          position: absolute
          width: 100%
          top: -9vw
          left: 50%
          transform: translateX(-50%)
        .wrapper
          grid-template-columns: 33.3% 33.3% 33.3%
          grid-template-rows: auto
          position: relative
          +m_up
            grid-template-columns: 50% 50%
          +s_only
            display: block
        .decoParts03
          content: ''
          position: absolute
          bottom: -14vw
          right: -3vw
          width: 440px
          height: 410px
          background: url(../topic_images/png/france_contents_deco03.png) center center no-repeat
          background-size: contain
          z-index: -2
          +m_only
            display: none
          +m_up
            display: none
          +s_only
            display: none
      &__02
        @extend .contentsBox
        +m_only
          padding: 70px 0 84px
        +m_up
          padding: 30px 0 40px
        +s_only
          padding: 120px 10px 84px
        .title-pc
          content: ''
          position: absolute
          top: -5vw
          left: 50%
          transform: translateX(-50%)
          +s_only
            display: none
          +m_up
            top: -9vw
        .title-sp
          content: ''
          position: absolute
          width: 100%
          top: -10vw
          left: 50%
          transform: translateX(-50%)
        .wrapper
          grid-template-columns: 33.3% 33.3% 33.3%
          grid-template-rows: auto
          +m_up
            grid-template-columns: 50% 50%
          .decoParts04
            position: absolute
            top: -11vw
            left: -4vw
            width: 247px
            height: 265px
            background: url(../topic_images/png/france_contents_deco04.png) center center no-repeat
            background-size: contain
            +m_only
              width: (247px * 0.8)
              height: (265px * 0.8)
            +m_up
              top: -19vw
              width: (247px * 0.8)
              height: (265px * 0.8)
            +s_only
              top: -65vw
              left: -4vw
              width: (247px * 0.5)
              height: (265px * 0.5)
          .decoParts05
            position: absolute
            bottom: 52vw
            right: -5vw
            width: 178px
            height: 121px
            background: url(../topic_images/png/france_contents_deco05.png) center center no-repeat
            background-size: contain
            z-index: -2
            +m_only
              display: none
            +m_up
              display: none
            +s_only
              bottom: -10vw
              right: -1vw
              width: (178px * 0.7)
              height: (121px * 0.7)
      &__03
        @extend .contentsBox
        +m_only
          padding: 40px 0 84px
        +m_up
          padding: 0 0 40px
        +s_only
          padding: 70px 10px 84px
        .title-pc
          content: ''
          position: absolute
          top: -3vw
          left: 50%
          transform: translateX(-50%)
          +m_up
            top: -7vw
          +s_only
            display: none
        .title-sp
          content: ''
          position: absolute
          width: 100%
          top: -7vw
          left: 50%
          transform: translateX(-50%)
        .wrapper
          grid-template-columns: 50% 50%
          grid-template-rows: auto
        .decoParts06
          position: absolute
          top: -14vw
          left: -8vw
          width: 277px
          height: 369px
          background: url(../topic_images/png/france_contents_deco06.png) center center no-repeat
          background-size: contain
          +m_only
            width: (277px * 0.8)
            height: (369px * 0.8)
          +m_up
            display: none
          +s_only
            display: none
        .decoParts07
          position: absolute
          bottom: 2vw
          right: -5vw
          width: 257px
          height: 472px
          background: url(../topic_images/png/france_contents_deco07.png) center center no-repeat
          background-size: contain
          +m_only
            right: -3vw
            width: (257px * 0.7)
            height: (472px * 0.7)
          +m_up
            display: none
          +s_only
            bottom: -25vw
            right: -2vw
            width: (418px *0.5)
            height: (265px *0.5)
            background: url(../topic_images/png/france_contents_deco07_sp.png) center center no-repeat
            background-size: contain
      &__04
        @extend .contentsBox
        +m_only
          padding: 40px 0 84px
        +m_up
          padding: 30px 0 40px
        +s_only
          padding: 60px 10px 84px
        .title-pc
          content: ''
          position: absolute
          top: -5vw
          left: 50%
          transform: translateX(-50%)
          +m_only
            top: -8vw
          +m_up
            top: -9vw
          +s_only
            display: none
        .title-sp
          content: ''
          position: absolute
          width: 100%
          top: -9vw
          left: 50%
          transform: translateX(-50%)
        .wrapper
          grid-template-columns: 33.3% 33.3% 33.3%
          grid-template-rows: auto
          +m_up
            grid-template-columns: 50% 50%
        .decoParts08
          position: absolute
          bottom: -190px
          left: 3vw
          width: 347px
          height: 251px
          background: url(../topic_images/png/france_contents_deco08.png) center center no-repeat
          background-size: contain
          +m_only
            bottom: -12vw
            width: (347px * 0.8)
            height: (251px * 0.8)
          +m_up
            bottom: -12vw
            width: (347px * 0.8)
            height: (251px * 0.8)
          +s_only
            bottom: -36vw
            width: (476px * 0.5)
            height: (344px * 0.5)
            background: url(../topic_images/png/france_contents_deco08_sp.png) center center no-repeat
            background-size: contain
